// ===================================================
// Buttons
// ===================================================
.button, a.button {
  color: var(--button-fore-color);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
  transition: 0.3s ease all;
  padding: 0.625rem 0.875rem;
  margin-top: 0.75rem;
  border-radius: 1rem;
  display: inline-block;
  box-shadow: 0px 4px 8px var(--button-shadow-color);
  border: none;
  cursor: pointer;
  &:hover, &:focus {
    box-shadow: 0px 8px 16px var(--button-shadow-color);
    text-decoration: none;
    outline: none;
  }
  &.button-a {
    background: var(--button-back-color-a);
  }
  &.button-b {
    background: var(--button-back-color-b);
  }
  svg {
    vertical-align: sub;
  }
  @media screen and (min-width: $layout-large-breakpoint) {
    font-size: 1.375rem;
    line-height: 1.35;
  }
}

// Home button (404 page)
.button.button-home {
  @media screen and (min-width: $layout-large-breakpoint) {
    margin-top: 1.375rem;
  }
}

// Copy and share buttons (snippet card)
.button.button-copy {
  position: absolute;
  top: -32px;
  right: 24px;
  padding: 0.5rem 0.625rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-clipboard' %3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'%3E%3C/path%3E%3Crect x='8' y='2' width='8' height='4' rx='1' ry='1'%3E%3C/rect%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  z-index: 10;
}
.button.button-social-sh {
  position: absolute;
  top: -32px;
  right: 80px;
  padding: 0.5rem 0.625rem;
}

// Show/hide examples button (snippet card)
.button.button-example-toggler {
  position: relative;
  margin: -2rem 0px -1rem 0px;
  background: var(--pre-back-color);
  border-radius: 0px 0px 0.125rem 0.125rem;
  width: calc(100%);
  text-align: left;
  display: block;
  font-size: 0.875rem;
  line-height: 1.35;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--button-example-toggler-fore-color);
  box-shadow: none;
  font-family: 'Roboto Mono', Menlo, Consolas, monospace; 
  &:hover, &:focus {
    box-shadow: none;
  }
  svg {
    margin-right: 0.125rem;
  }
}

.button.button-codepen {
  display: block;
  margin: 0.25rem calc(50% - 3rem);
  min-width: 180px;
  font-size: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-codepen'%3E%3Cpolygon points='12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2'%3E%3C/polygon%3E%3Cline x1='12' y1='22' x2='12' y2='15.5'%3E%3C/line%3E%3Cpolyline points='22 8.5 12 15.5 2 8.5'%3E%3C/polyline%3E%3Cpolyline points='2 15.5 12 8.5 22 15.5'%3E%3C/polyline%3E%3Cline x1='12' y1='2' x2='12' y2='8.5'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
  padding-left: 2.5rem
}