footer {
  margin: 2.5rem 1rem 0.75rem;
  color: var(--fore-color);
  // Make at least as tall as the cookie consent popup
  // to ensure that the paginator is never hidden
  min-height: 9rem;

  > p {
    font-size: 0.75rem;
    line-height: 1.625;

    + p {
      margin-top: -0.375rem;
      line-height: 1.5rem;
    }
  }

  .footer-link {

    + .footer-link {
      margin-left: 1rem;
    }
  }
}
