footer {
  margin: 3.5rem 0.5rem 0rem;
  // Make at least as tall as the cookie consent popup
  // to ensure that the paginator is never hidden
  min-height: 9rem;

  > p {
    font-size: 0.875rem;
    line-height: 2rem;

    + p {
      margin-top: -0.375rem;
      line-height: 1.5rem;
    }
  }

  .footer-link {

    + .footer-link {
      margin-left: 1rem;
    }
  }
}
