.snippet-card {

  .card-source-content {
    pre {
      margin: 0;

      &:first-of-type {
        border-radius: var(--br-lg) var(--br-lg) var(--br-none) var(--br-none);
      }

      &:last-child {
        border-radius: var(--br-none) var(--br-none) var(--br-lg) var(--br-lg);
      }
    }

    .card-code + .card-code {
      border-top: 1px solid var(--clr-txt-050);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-top: 2.5rem;

      &:before {
        top: .9375rem;
      }
    }

    .card-example-title {
      background: var(--clr-code-bg);

      + pre {
        // TODO: Override rules from code block
        padding: 0.25rem .875rem 1.5rem;
      }
    }

    .card-example {

      &::before {
        display: none;
      }
    }
  }
}
