.snippet-card {
  .card-source-content {
    pre {
      margin: 0;
    }

    .card-code + .card-code {
      border-top: 1px solid var(--clr-txt-050);
      border-top-left-radius: var(--br-none);
      border-top-right-radius: var(--br-none);
      padding-top: 2.5rem;

      &:before {
        top: 0.9375rem;
      }
    }

    .card-example {
      margin-top: -0.875rem;
      padding-bottom: 1.5rem;

      &::before {
        content: 'Examples';
      }
    }
  }
}
