@import '../../../atoms/card/mixins';

.snippet-card {

  .card-source-content {
    margin: 1.125rem 0 0;

    pre {
      margin: 0;
      font-size: .875rem;

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: 1rem;
      }

      &:first-of-type {
        border-radius: 0.5rem 0.5rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
        margin-bottom: -1rem;
      }
    }

    .card-code + .card-code {
      border-top: 1px solid var(--clr-txt-050);
      padding-top: 2.5rem;

      &:before {
        top: .9375rem;
      }
    }

    .card-example-title {
      padding: 0.25rem .875rem 0;
      font-size: .875rem;
      text-transform: uppercase;
      background: var(--clr-code-bg);
      margin: 0;
      color: var(--clr-txt-100);

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: 1rem;
      }

      + pre {
        padding: 0.25rem .875rem 1.5rem;
      }
    }

    .card-example {

      &::before {
        display: none;
      }
    }
  }

  .card-image {
    @include card-full-width-section;
    margin-top: 0.875rem;
    min-width: calc(100% + 2rem);
    object-fit: cover;
    margin-bottom: 1.5rem;
  }

  .card-actions {
    margin: 2rem 0 -1rem;
    display: flex;
    justify-content: space-around;
  }
}
