.card {
  .card-description {
    margin: 0;

    > p,
    li,
    li > p {
      font-size: var(--font-sm);
      line-height: 1.778;

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: var(--font-md);
      }
    }

    > p {
      margin: 1.5rem 0 0;

      &:not(:first-child) {
        margin-block-start: 1rem;
      }

      &:last-child:not(:first-child) {
        margin-block-end: 1.5rem;
      }
    }

    ul,
    ol {
      margin: 1rem 0 0;
    }

    > ul,
    > ol {
      &:last-child:not(:first-child) {
        margin-block-end: 1.5rem;
      }
    }

    li {
      margin: 0.375rem 0;
    }
  }
}
