.snippet-list-header {
  @media screen and (min-width: $layout-medium-breakpoint) {
    display: grid;
    grid-template-columns: auto 240px;
    min-height: 340px;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    grid-template-columns: auto 360px;
    min-height: 300px;
  }
}
