.listing-chips {
  overflow-x: auto;
  gap: 0.75rem 1rem;

  .btn {
    // TODO: Button issue with inherited styles
    margin: 0;
    padding: 0.75rem 1rem;
    background: var(--clr-el-01db);
    border-radius: var(--br-md);

    &.selected {
      color: var(--clr-primary-100);
      background: var(--clr-el-02db);
    }
  }

  @media screen and (min-width: $layout-medium-breakpoint) {
    flex-wrap: wrap;
  }
}
