.paginator {
  grid-template-columns: 52px 1fr 52px;
  width: fit-content;

  @media screen and (min-width: $layout-medium-breakpoint) {
    grid-template-columns: 128px 1fr 128px;
  }

  a,
  span {
    min-width: 44px;
  }
}
