.snippet-card {
  .code-highlight {
    > pre {
      padding-block-end: 1.5rem;
    }

    + .code-highlight {
      margin-block-start: 0;

      > pre {
        margin-block-start: -0.5rem;
      }
    }
  }
}
