.snippet-card {
  .card-source-content {
    [data-code-language='Examples'] {
      margin-block-start: -0.875rem;
      padding-block-end: 1.5rem;
    }
  }

  .code-highlight {
    + .code-highlight > pre:not([data-code-language='Examples']) {
      border-top: 2px solid var(--clr-code-border);
      border-top-left-radius: var(--br-none);
      border-top-right-radius: var(--br-none);
      padding-block-start: 2.5rem;
      margin-block-start: -2px;

      &:before {
        top: 0.9375rem;
      }
    }

    --action-display: none;

    &:hover,
    &:focus-within {
      --action-display: block;
    }

    pre {
      + .action-btn {
        display: var(--action-display);
        position: absolute;
        top: 0.5rem;
        z-index: 1000;
        right: 0;

        &.active {
          animation-name: active;
          animation-duration: 0.5s;
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition: background 0.25s ease;

          &:before {
            opacity: 0;
            animation-name: active-before;
            animation-duration: 0.65s;
            animation-timing-function: ease-in-out;
          }
        }
      }
    }

    &:last-child {
      margin-block-end: 1.5rem;
    }
  }

  .card-preview-content {
    background: var(--clr-snippet-preview-bg);
    border-bottom-left-radius: var(--br-none);
    border-bottom-right-radius: var(--br-none);

    + .card-source-content {
      .code-highlight:first-of-type > pre {
        border-top-left-radius: var(--br-none);
        border-top-right-radius: var(--br-none);
      }
    }
  }
}

@keyframes active {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15) rotate(3deg);
  }
  40% {
    transform: scale(0.94);
  }
  60% {
    transform: scale(0.98) rotate(-3deg);
  }
  80% {
    transform: scale(1.08);
  }
  99% {
  }
}

@keyframes active-before {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  75% {
    opacity: 1;
  }
}

// Overrides for some problematic snippets
[data-scope='snippet-preview'] {
  .full-width {
    left: 0 !important;
    right: 0 !important;
    margin-left: -1.375rem !important;
    margin-right: -1.375rem !important;
    width: calc(100% + 2.75rem) !important;

    @media screen and (min-width: 752px) {
      width: calc(100vw - 3rem - 2.25rem) !important;
      max-width: calc(100vw - 3rem - 2.25rem) !important;
      margin-left: calc((640px - 100vw) / 2 + 2.125rem) !important;
      margin-right: calc((640px - 100vw) / 2 + 2.125rem) !important;
    }

    @media screen and (min-width: 874px) {
      width: calc(874px - 3rem - 2.25rem) !important;
      margin-left: calc((640px - 874px) / 2 + 2.125rem) !important;
      margin-right: calc((640px - 874px) / 2 + 2.125rem) !important;
    }
  }

  input[type='checkbox']:not(:checked) + .switch {
    background-color: #ffffff40 !important;
  }

  .slides img {
    max-width: unset;
  }

  a.squiggle:hover {
    animation: none;
  }
}
