[submodule "content/sources/30code"]
	path = content/sources/30code
	url = https://github.com/30-seconds/30-seconds-of-code
	branch = master
	update = checkout
[submodule "content/configs"]
	path = content/configs
	url = https://github.com/30-seconds/30-seconds-content
	branch = master
	update = checkout
