snippet-template.md
tag_database
travis.log
CONTRIBUTING.md
COLLABORATING.md
CODE_OF_CONDUCT.md
.travis.yml
.mdlrc.style.rb
.mdlrc
.codeclimate.yml
test/*
static-parts/*
snippets_archive/*
scripts/*
locale/*
docs/*
.travis/*
.github/*
