{
  "printWidth": 80,
  "arrowParens": "avoid",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "objectWrap": "collapse"
}
