// SCSS variables - used to color the icons
$nav-button-fore-color-light: #53586A;
$nav-button-active-fore-color-light: #2747C7;
$nav-button-fore-color-dark: #959AAC;
$nav-button-active-fore-color-dark: #CDD4EF;

// Colors
:root {
  --nav-button-fore-color: #{$nav-button-fore-color-light};
  --nav-button-active-fore-color: #{$nav-button-active-fore-color-light};
}

// Dark mode colors
.page-container.dark {
  --nav-button-fore-color: #{$nav-button-fore-color-dark};
  --nav-button-active-fore-color: #{$nav-button-active-fore-color-dark};
}

.nav-btn {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 56px;
  margin: 0;
  background: transparent;
  font-size: 14px;
  padding-top: 12px;
  border: none;
  text-align: center;
  line-height: 56px;
  cursor: pointer;
  transition: 0.3s ease all;
  @media screen and (min-width: $layout-medium-breakpoint) and (orientation: landscape) {
    max-height: 12.5vh;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 4vh;
    padding-top: 44px;
    line-height: 1.5;
  }
  @media screen and (min-width: $layout-large-breakpoint) and (orientation: landscape) {
    margin-bottom: 1vh;
  }
  &, &:link, &:visited {
    color: var(--nav-button-fore-color);

    &:hover, &:focus, &.active {
      color: var(--nav-button-active-fore-color);
    }
  }
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }
  &:last-of-type {
    vertical-align: top;
  }

  &:before {
    width: 100%;
    text-align: center;
    top: 6px;
    left: 0;
    position: absolute;
    font-size: 20px;
  }
}
