.preview-card-wrapper {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.preview-card {
  padding-bottom: 2rem;
  overflow: hidden;
  &:hover, &:focus {
    .card-title {
      text-decoration: underline;
    }
  }
}