.preview-card-wrapper {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.preview-card {
  margin-top: 1.5625rem;
  overflow: hidden;

  .card-title, .tag-list {
    display: inline-block
  }

  .tag-list {
    height: 2.25rem;
  }

  &:hover, &:focus {
    .card-title {
      text-decoration: underline;
    }
  }
}
