.card {
  .card-title {
    font-size: 1.125rem;
    line-height: 1.375;
    font-weight: 500;
    margin: 0.25rem 0.5rem 0.125rem;
    transition: 0.3s ease all;
    color: var(--card-fore-color);
  }
  .card-lang {
    font-size: 0.75rem;
    font-weight: 300;
    color: red;
  }

  .expertise {
    top: 28px;
    right: 16px;
  }

  .tag-list {
    margin: 0 0.125rem 0.5rem;
  }

  .card-description {
    margin: 0.125rem 0;
    font-size: 0.875rem;
    color: var(--card-fore-color-light);
    line-height: 1.35;
    font-weight: 500;
  }
}