.btn, a.btn {
  display: inline-block;
  padding: 0.625rem 0.875rem;
  margin-top: 0.75rem;
  background: var(--clr-btn-bg);
  color: var(--clr-txt-200);
  cursor: pointer;
  border: none;
  border-radius: var(--br-xl);
  line-height: 1.5rem;
  transition: 0.3s ease all;
  box-shadow: var(--shd-el-02dp);

  &:hover, &:focus {
    box-shadow: var(--shd-el-04dp);
    animation: none;
    outline: none;
  }

  svg {
    vertical-align: sub;
  }

  &.active {
    animation-name: active;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    transition: background 0.25s ease;

    &:before {
      opacity: 0;
      animation-name: active-before;
      animation-duration: 0.65s;
      animation-timing-function: ease-in-out;
    }
  }

  // Utility to remove box-shadow from btn elements
  &.no-shd {
    box-shadow: none;

    &:hover, &:focus {
      box-shadow: none;
    }
  }

  // Utility for btn elements that display a link color on hover
  &.link-btn {

    &:hover, &:focus {
      color: var(--clr-link);
    }
  }

  // Utility for btn elements that look like actions
  &.action-btn {
    background: transparent;
    color: var(--clr-txt-150);
    border-radius: var(--br-round);
    text-transform: uppercase;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    margin: 0 0.5rem;

    &:hover, &:focus {
      background: var(--clr-el-01dp);
      color: var(--clr-primary);
    }
  }
}

@keyframes active {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15) rotate(3deg);
  }
  40% {
    transform: scale(.94);
  }
  60% {
    transform: scale(.98) rotate(-3deg);
  }
  80% {
    transform: scale(1.08);
  }
  99% {
  }
}

@keyframes active-before {
  0%, 100% {
    opacity: 0;
  }
  30%, 75% {
    opacity: 1.0;
  }
}
