// Colors
:root {
  --button-back-color: #3B3EFC;
  --button-fore-color: #FFFFFF;
  --button-shadow-color: rgba(0, 32, 128, 0.25);
  --button-back-color-tertiary: #131418;
}

// Dark mode colors
.page-container.dark {
  --button-shadow-color: rgba(0, 3, 10, 0.22);
}

.btn, a.btn {
  display: inline-block;
  padding: 0.625rem 0.875rem;
  margin-top: 0.75rem;
  background: var(--button-back-color);
  color: var(--button-fore-color);
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  transition: 0.3s ease all;
  box-shadow:  0px 2px 4px var(--button-shadow-color);

  &:hover, &:focus {
    box-shadow: 0px 3px 10px var(--button-shadow-color);
    text-decoration: none;
    outline: none;
  }

  svg {
    vertical-align: sub;
  }

  &.active {
    animation-name: active;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    transition: background 0.25s ease;

    &:before {
      opacity: 0;
      animation-name: active-before;
      animation-duration: 0.65s;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes active {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15) rotate(3deg);
  }
  40% {
    transform: scale(.94);
  }
  60% {
    transform: scale(.98) rotate(-3deg);
  }
  80% {
    transform: scale(1.08);
  }
  99% {
  }
}

@keyframes active-before {
  0%, 100% {
    opacity: 0;
  }
  30%, 75% {
    opacity: 1.0;
  }
}
