---
import Layout from '#layouts/Layout';
import Hero from '#components/Hero';

const title = 'FAQ';
const subtitle = 'Frequently asked questions and answers.';
const pageDescription =
  'Frequently asked questions and answers about 30 seconds of code.';
---

<Layout title={title} description={pageDescription}>
  <main
    itemscope
    itemtype'https://schema.org/FAQPage'
    slot='main-content'
  >
    <Hero
      title={title}
      description={subtitle}
    />

    <article
      itemscope='true'
      itemprop='mainEntity'
      itemtype='https://schema.org/Question'
    >
      <h2 itemprop='name'>
        I found a bug, typo or omission. Where can I report it?
      </h2>
      <p itemprop='text'>
        Any content issues should be reported using the GitHub Issue Tracker.
        Use the GitHub link on the snippet page to find the matching file and
        then open an issue describing the problem.
      </p>
    </article>

    <article
      itemscope='true'
      itemprop='mainEntity'
      itemtype='https://schema.org/Question'
    >
      <h2 itemprop='name'>
        Who can contribute to 30 seconds of code?
      </h2>
      <p itemprop='text'>
        There are no specific requirements for contributing to 30 seconds of
        code, except for reading and understanding our contribution
        guidelines. Note, however, that contributions are
        currently locked indefinitely due to a lack of time to review them.
      </p>
    </article>
  </main>
</Layout>
