.breadcrumbs {

  ol {
    overflow: hidden;
  }
}

.breadcrumb-item {
  &:not(:last-of-type) {

    &:after {
      color: var(--clr-txt-050);
      content: "/";
      width: 0;
      padding: 0 0.25rem;
    }
  }

  // Current page
  &:last-of-type {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      pointer-events: none;
    }
  }
}
