// Page subtitle
.page-sub-title {
  transition: 0.3s ease all;
  font-size: 1.125rem;
  line-height: 1.35;
  margin: 1rem 1.25rem 0.5rem;
  color: var(--fore-color);
  @media screen and (min-width: $layout-large-breakpoint) {
    font-size: 1.25rem;
  }
}
// Page light subtitle
.page-light-sub {
  transition: 0.3s ease all;
  color: var(--fore-color-light);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: -0.0625rem 1.25rem 0;
  @media screen and (min-width: $layout-large-breakpoint) {
    font-size: 1rem;
  }
}
