@keyframes enter-from-below {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.cookie-consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  max-height: 60vh;
  overflow-y: auto;
  animation: enter-from-below 0.3s ease 0s;

  > p,
  .cookie-consent-buttons {
    max-width: 680px;
  }

  .btn {
    flex: 0 1 27.5%;
  }
}
