@keyframes enter-from-below {
  from { transform: translateY(100%);}
  to { transform: translateY(0%); }
}

.cookie-consent-popup {
  padding: 0.5rem 1.625rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  max-height: 60vh;
  overflow-y: auto;
  animation: enter-from-below 0.3s ease 0s;

  > p, .cookie-consent-buttons {
    max-width: 680px;
    margin: 0.375rem auto 0.5rem;
  }

  .btn {
    font-size: var(--font-xs);
    padding: 0.625rem 1.375rem;
    flex: 0 1 27.5%;
  }
}
