.listing-anchors {
  flex-wrap: nowrap;
  overflow-x: auto;

  li {
    &:first-child > .btn {
      margin-left: 0;
    }

    &:last-child > .btn {
      margin-right: 0;
    }
  }

  .btn {
    // TODO: Button issue with padding
    padding: 0.5rem 1rem;

    &.selected {
      color: var(--clr-txt-200);
      background: var(--clr-el-02dp);
    }
  }
}
