.snippet-preview-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.5;
  margin: 0.5rem 0.5rem 0.75rem;
  color: var(--card-fore-color-light);
}

.snippet-preview {
  background:var(--back-color);
  border-radius: .25rem;
  padding: 1.375rem 1.25rem .75rem;
  margin: -0.5rem 0 1.5rem;
}
