// Colors
:root {
  --listing-anchors-selected-color: #434ec7;
}

// Dark mode colors
.dark {
  --listing-anchors-selected-color: #678df4;
}

.listing-anchors {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-back-color);
    margin: 0 35vw;
    border-radius: 0.125rem;

    @media screen and (min-width: 800px) {
      margin: 0 16rem;
    }
  }

  &::-webkit-scrollbar {
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fore-color);
    border-radius: 0.125rem;
  }

  li {
    flex: 0 0 64px;
    scroll-snap-align: start;
    margin: 0.25rem 0.75rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .btn {
    box-sizing: border-box;
    font-size: 1rem;
    min-width: 100%;
    padding: 0.375rem 0.25rem;
    line-height: 1.5rem;
    height: 40px;
    border: none;
    box-shadow: none;
    text-align: center;
    background: transparent;
    border-radius: 0;
    color: var(--fore-color-light);
    border-bottom: 2px solid transparent;

    &.selected {
      color: var(--fore-color-dark);
      border-bottom: 2px solid var(--fore-color-dark);
    }

    &:hover, &:focus {
      box-shadow: none;
      color: var(--listing-anchors-selected-color);
    }

    @media screen and (min-width: $layout-medium-breakpoint) {
      padding: 0.625rem 0.875rem;
      height: 48px;
    }

    @media screen and (min-width: $layout-large-breakpoint) {
      height: 52px;
    }
  }
}
