.listing-anchors {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;

  &::-webkit-scrollbar-track {
    background-color: var(--clr-scrollbar-bg);
    margin: 0 35vw;
    border-radius: var(--br-sm);

    @media screen and (min-width: 800px) {
      margin: 0 16rem;
    }
  }

  &::-webkit-scrollbar {
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar-knob);
    border-radius: var(--br-sm);
  }

  li {
    flex: 0 0 64px;
    scroll-snap-align: start;
    margin: 0.25rem 0.75rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .btn {
    box-sizing: border-box;
    min-width: 100%;
    padding: 0.375rem 0.25rem;
    height: 40px;
    border: none;
    box-shadow: none;
    text-align: center;
    background: transparent;
    border-radius: var(--br-none);
    color: var(--clr-txt-100);
    border-bottom: 2px solid transparent;

    &.selected {
      color: var(--clr-txt-200);
      border-bottom: 2px solid currentColor;
    }

    &:hover, &:focus {
      box-shadow: none;
      color: var(--clr-link);
    }

    @media screen and (min-width: $layout-medium-breakpoint) {
      padding: 0.625rem 0.875rem;
      height: 48px;
    }

    @media screen and (min-width: $layout-large-breakpoint) {
      height: 52px;
    }
  }
}
