.listing-anchors {
  margin: 0.25rem 0.875rem 1.5rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: calc(100% - 1.75rem);
  scroll-snap-type: x mandatory;
  justify-content: space-between;

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-back-color);
    margin: 0 35%;
    border-radius: 0.125rem;
  }

  &::-webkit-scrollbar {
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fore-color);
    border-radius: 0.125rem;
  }

  li {
    flex: 0 0 64px;
    scroll-snap-align: start;
    padding-bottom: 2rem;
    margin: 0.25rem 0.75rem;
  }

  .btn {
    box-sizing: border-box;
    font-size: 0.875rem;
    min-width: 100%;
    padding: 0.375rem 0.25rem;
    height: 64px;
    border: none;
    box-shadow: none;
    text-align: center;

    &:hover, &:focus {
      box-shadow: 0px 4px 8px var(--button-shadow-color);
    }

    @media screen and (min-width: $layout-medium-breakpoint) {
      padding: 0.625rem 0.875rem;
    }

    &[title] {
      position: relative;

      &:after {
        content: attr(title);
        position: absolute;
        top: calc(100% + 1rem);
        color: var(--fore-color-lighter);
        width: calc(100% + 1.5rem);
        line-height: 1;
        left: -0.75rem;
        text-transform: uppercase;
        text-align: center;
      }

      &:before {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        line-height: 64px;
        font-size: 36px;
      }
    }
  }

  // Custom styles for dart icon
  .icon-dart:before {
    content: '';
    background-image: generate-icon-background("dartlang", '', '', 0, 26);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.listing-anchors:not(.compact) {
  margin: 1.25rem 0.875rem 2.5rem;
}

.listing-anchors.compact {
  li {
    padding-bottom: 0;
  }

  li:first-child {
    margin-left: 0;
  }

  li:last-child {
    margin-right: 0;
  }

  .btn {
    background: transparent;
    border-radius: 0;
    color: var(--fore-color-lighter);
    line-height: 24px;
    height: 48px;
    border-bottom: 2px solid transparent;

    &.selected {
      color: var(--fore-color-dark);
      border-bottom: 2px solid var(--fore-color-dark);
    }

    &:hover, &:focus {
      box-shadow: none;
      color: var(--fore-color-dark);
    }
  }
}

.listing-anchors-title {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.375;
  font-weight: 400;
  margin: 1.5rem 1.25rem .5rem;
}
