.listing-anchors {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 0.25rem;
  margin: 0.25rem 0.875rem 1.5rem;

  &::-webkit-scrollbar-track {
    background-color: var(--clr-scrollbar-bg);
    margin: 0 4rem;
    border-radius: var(--br-sm);

    @media screen and (min-width: $layout-medium-breakpoint) {
      margin: 0 12rem;
    }

    @media screen and (min-width: $layout-large-breakpoint) {
      margin: 0 16rem;
    }
  }

  &::-webkit-scrollbar {
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar-knob);
    border-radius: var(--br-sm);

    &:hover {
      background-color: var(--clr-scrollbar-knob-active);
    }
  }

  li {
    margin: 0.25rem 0;

    &:first-child > .btn {
      margin-left: 0;
    }

    &:last-child > .btn {
      margin-right: 0;
    }
  }

  .btn {
    padding: 0.5rem 1rem;

    &.selected {
      color: var(--clr-txt-200);
      background: var(--clr-el-02dp);
    }
  }
}
