.expertise {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: var(--expertise-color);
  box-sizing: border-box;
  top: 0px;
  right: 0px;

  &.beginner {
    --expertise-color: var(--clr-exp-beginner);
  }

  &.intermediate {
    --expertise-color: var(--clr-exp-intermediate);
  }

  &.advanced {
    --expertise-color: var(--clr-exp-advanced);
  }

  &.article {
    --expertise-color: var(--clr-exp-blog);
  }
}
