a {
  text-decoration: none;

  &:any-link {
    color: var(--clr-primary-050);
  }

  &:hover,
  &:focus {
    animation-name: animated-underline;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.inherit {
    &:any-link {
      color: inherit;
    }
  }

  &.no-animation {
    &:hover,
    &:focus {
      animation: none;
    }
  }
}

@keyframes animated-underline {
  0% {
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 0;
  }
  100% {
    text-decoration-line: underline;
    text-decoration-color: inherit;
    text-underline-offset: 2px;
  }
}
