// Colors
:root {
  // Inline
  --clr-code-bg: hsl(225, 31%, 18%);
  --clr-code-txt: hsl(228, 74%, 91%);

  // Block
  --clr-code-block-txt: hsl(0, 69%, 67%);
  --clr-code-selection: hsl(228, 89%, 15%);

  --clr-tkn-a: hsl(199, 17%, 57%);   // Comments
  --clr-tkn-b: hsl(0, 0%, 74%);   // Punctuation
  --clr-tkn-c: hsl(207, 89%, 68%);   // Functions
  --clr-tkn-d: hsl(34, 100%, 50%);   // Numbers
  --clr-tkn-e: hsl(88, 50%, 76%);   // Strings
  --clr-tkn-f: hsl(291, 47%, 71%);   // Keywords
  --clr-tkn-g: hsl(187, 71%, 50%);   // Regular expressions
  --clr-tkn-h: hsl(0, 69%, 67%);   // Variables
}

// Style code
code, kbd, pre {
  font-size: var(--font-xs);
  border-radius: var(--br-md);

  @media screen and (min-width: $layout-medium-breakpoint) {
    font-size: var(--font-sm);
  }
}
code, kbd, pre, code *, pre *, kbd *, code[class*="language-"], pre[class*="language-"] {
  font-family: 'Roboto Mono', Menlo, Consolas, monospace;
}

code {
  background: var(--clr-code-bg);
  color: var(--clr-code-txt);
  padding: 0.125rem 0.375rem;
}

code[class*="language-"], pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5rem;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hypens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection {
  background: var(--clr-code-selection);
}

:not(pre) > code[class*="language-"] {
  padding: 0.125rem 0.25rem;
  white-space: normal;
}

p > code, a > code {

  &, &[class*="language-"] {
    color: var(--clr-code-txt);
    background: var(--clr-code-bg);
  }
}

a > code {

  &, &[class*="language-"] {
    color: var(--clr-link);
  }
}
