// Typography definitions
//  Numeric values represent the strength/opacity of the font color

// Colors
:root {
  --clr-txt-200: hsla(0, 0%, 100%, .95);
  --clr-txt-150: hsla(0, 0%, 100%, 0.87);
  --clr-txt-100: hsla(0, 0%, 100%, .76);
  --clr-txt-050: hsla(0, 0%, 100%, .64);
}

.txt-200 { color: var(--clr-txt-200); }
.txt-150 { color: var(--clr-txt-150); }
.txt-100 { color: var(--clr-txt-100); }
.txt-050 { color: var(--clr-txt-050); }
