// Alternative font
.f-alt {
  &, > a, > a:link, > a:visited {
    font-family: 'Raleway', Helvetica, sans-serif;
    letter-spacing: 0.25px;
    font-feature-settings: "ss02", "lnum", "kern";
  }
}

.f-left     { text-align: left;    }
.f-right    { text-align: right;   }
.f-center   { text-align: center;  }
.f-justify  { text-align: justify; }

.f-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
