// Alternative font
.f-alt {
  &,
  > a:any-link {
    font-family: 'Raleway', Helvetica, sans-serif;
    letter-spacing: 0.25px;
    font-feature-settings: 'ss02', 'lnum', 'kern';
    -webkit-font-smoothing: antialiased;
  }
}

.f-strong {
  font-weight: 600;

  &.f-alt {
    font-weight: 500;
  }
}

.f-left {
  text-align: left;
}
.f-right {
  text-align: right;
}
.f-center {
  text-align: center;
}
.f-justify {
  text-align: justify;
}
// Additional responsive spacing (only as needed)
@media screen and (min-width: $layout-medium-breakpoint) {
  .md\:f-left {
    text-align: left;
  }

  .md\:f-right {
    text-align: right;
  }
}

.f-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.f-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lh-normal {
  line-height: 1.5;
}
.lh-wide {
  line-height: 1.778;
}
