.btn.btn-cta {
  position: relative;
  padding-left: 46px;
  margin-top: 0;

  @media screen and (min-width: $layout-large-breakpoint) {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  &:before {
    left: 14px;
    font-size: 24px;
    position: absolute;
  }
}

.page-graphic.graphic-cta {
  height: 120px;
  padding-top: 0;
  padding-left: 120px;
  margin-top: 2.5rem;
  margin-bottom: 0.875rem;

  &::before {
    background-size: 120px, 120px;
    width: 120px;
    left: 0.875rem;
    height: 120px;
    background-position-x: left;

    @media screen and (min-width: $layout-medium-breakpoint) {
      left: calc(6vw + 1.25rem);
    }

    @media screen and (min-width: $layout-large-breakpoint) {
      left: calc(8vw + 1.25rem);
    }
  }

  @media screen and (min-width: $layout-medium-breakpoint) {
    padding-left: calc(10vw + 120px);
    margin-top: 2.375rem;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    padding-left: calc(10vw + 120px);
    padding-right: 10vw;
    margin-top: 3.625rem;
    margin-bottom: 4.25rem;
  }

  .page-backdrop-text {
    padding-top: 1.5rem;
    margin-bottom: 1rem;

    @media screen and (min-width: $layout-medium-breakpoint) {
      margin-bottom: 0.875rem;
    }

    @media screen and (min-width: $layout-large-breakpoint) {
      padding-top: 0.375rem;
      font-size: 1.125rem;
      line-height: 1.2;
      margin: 2rem auto 1rem;
    }
  }
}

.page-graphic.twitter-cta {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.2878 59.0261C-5.36766 34.2892 16.737 15.4144 37.5726 6.39127C56.4238 -5.13826 89.1654 6.89255 94.1263 32.458C101.811 72.0594 83.5584 71.0949 80.732 87.5992C76.2183 113.956 48.7778 122.436 23.6822 113.666C-1.41347 104.896 23.0408 79.1767 10.2878 59.0261Z' fill='%23D7DDF3'/%3E%3Ccircle cx='85.1741' cy='34.1894' r='1.29865' transform='rotate(5.8852 85.1741 34.1894)' fill='%23575E7A' stroke='%23575E7A' stroke-width='2'/%3E%3Cpath d='M8.73195 32.7633C7.90196 30.309 8.32462 27.8767 10.4609 26.3507' stroke='%23575E7A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.7951 31.1552C6.15756 29.1898 6.54829 27.2182 8.32999 25.9455' stroke='%23575E7A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M103.066 68.2872C105.341 62.0282 106.888 55.2407 107.606 48.0439C107.693 47.1747 107.729 46.3016 107.715 45.4291C107.7 44.4278 108.109 43.4555 108.994 42.9866C111.321 41.7533 115.303 40.166 118.582 37.2949C118.728 37.1677 118.675 36.9385 118.485 36.9053C116.445 36.5491 112.122 37.1812 110.363 37.1706C109.81 37.1673 109.766 36.7405 110.125 36.3203C112.27 33.8089 115.896 30.9001 117.624 28.5535C117.756 28.3741 117.595 28.1401 117.379 28.1913C113.327 29.1477 108.005 30.9219 105.247 31.8746C104.129 32.2608 102.885 31.9716 102.03 31.1542C101.147 30.3093 99.9133 29.1753 98.5503 28.0564M101.001 73.3842C85.6743 107.538 47.3157 123.215 4.91746 97.8997C3.99827 97.3509 4.50611 95.902 5.57438 95.9722C14.77 96.5769 23.9768 95.0124 32.4506 91.4107C34.6162 90.4902 34.6649 87.5277 32.7215 86.201C2.16363 65.339 12.8688 34.1819 17.3494 24.2651C17.9894 22.8485 19.8883 22.8357 20.7338 24.1401C21.8044 25.792 22.963 27.3811 24.2033 28.901M94.5268 25.1828C93.8637 24.7981 93.2179 24.4802 92.6122 24.2605C88.251 22.6789 83.5092 22.4749 79.0283 23.6761C74.5474 24.8772 70.5434 27.4255 67.558 30.9764C64.5726 34.5273 62.7497 38.9094 62.3359 43.53L62.1174 45.6504C61.9506 47.2684 60.5231 48.4676 58.9104 48.2551C51.0914 47.2246 43.5813 44.4883 36.9175 40.2261C34.8442 38.9001 32.8707 37.4377 31.0086 35.8515' stroke='%23575E7A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='120' height='120' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}
