// Page background graphic
.page-graphic {
  position: relative;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 40vh;
  width: 100%;
  height: 50vmin;
  padding-top: 52vmin;

  img {
    top: 50%;
    left: 50%;
    position: absolute;
    content: '';
    max-width: 60vmin;
    transform: translate(-50%, -50%);
  }
}

.page-backdrop-text,
.page-backdrop-subtext {
  font-weight: 350;
  max-width: 200px;
}

// Empty page text
.page-backdrop-text {
  margin: 2.25rem auto 0.75rem;

  strong {
    color: var(--clr-txt-150);
  }

  @media screen and (min-width: $layout-medium-breakpoint) {
    max-width: 400px;
  }
}

.page-backdrop-subtext {
  margin: 0.5rem auto;

  @media screen and (min-width: $layout-medium-breakpoint) {
    max-width: 256px;
  }
}
