// Page background graphic
.page-graphic {
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease;
  margin-top: 80px;
  margin-bottom: 40vh;
  width: 100%;
  height: calc(50vmin);
  padding-top: 46vmin;
  text-align: center;

  &::before {
    top: 0;
    left: calc(50% - 22.5vmin);
    position: absolute;
    content: '';
    width: 45vmin;
    height: 44vmin;
    background-position-x: 52.5%, center;
    background-position-y: 1%, top;
    background-repeat: no-repeat;
    background-size: 45vmin, 44vmin;
  }
}

.dark {

  .page-graphic {

    &::before {
      filter: brightness(0.85) invert(1) saturate(2.5) hue-rotate(170deg);
    }
  }
}

// Empty page text
.page-backdrop-text {
  transition: color 0.3s ease, background 0.3s ease;
  text-align: center;
  margin: 2.25rem auto 0.75rem;
  max-width: 200px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--fore-color-darker);
  font-weight: 400;

  @media screen and (min-width: $layout-medium-breakpoint) {
    max-width: 400px;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    font-size: 1.75rem;
  }
}

.page-backdrop-subtext {
  transition: all 0.3s ease;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 200px;
  color: var(--fore-color-darker);
  margin: 0.5rem auto;

  @media screen and (min-width: $layout-medium-breakpoint) {
    max-width: 256px;
  }
}
