
code-tabs[interactive="true"] > details > :is(summary, pre)::before {
  display: none;
}

code-tabs[interactive="true"] {
  --code-tabs_tab-handle-height: 44px;
	position: relative;
	justify-content: start;
	display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(var(--code-tabs_tab-count), auto);
  overflow-y: auto;
  background: var(--color-background-light);
  border-radius: var(--layout-border-radius);
}

code-tabs[interactive="true"]::-webkit-scrollbar {
  display: none;
}

code-tabs[interactive="true"][scrollable-left="true"]::before,
code-tabs[interactive="true"][scrollable-right="true"]::after {
  content: '';
  position: absolute;
  top: 0;
  width: calc(3 * var(--code-tabs_tab-handle-height));
  height: var(--code-tabs_tab-handle-height);
  pointer-events: none;
}

code-tabs[interactive="true"][scrollable-left="true"]::before {
  left: calc(var(--code-tabs_scroll-left-offset) - 2 * var(--code-tabs_tab-handle-height));
  background: linear-gradient(to left, transparent 0%, var(--color-background-light) 50%);
}

code-tabs[interactive="true"][scrollable-right="true"]::after {
  left: calc(var(--code-tabs_scroll-right-offset) - var(--code-tabs_tab-handle-height));
  background: linear-gradient(to right, transparent 0%, var(--color-background-light) 50%);
}

code-tabs[interactive="true"] > details {
	display: contents;
}

code-tabs[interactive="true"] > details > summary {
	display: flex;
  grid-row: 1;
	cursor: pointer;
  color: var(--color-text-light);
  background: var(--color-background-light);
  padding: var(--spacing-2) var(--spacing-4) var(--spacing-4);
  font-size: var(--font-sm);
  font-weight: var(--font-weight-medium);
  height: 44px;
  border-block-start: var(--border-width-thin) solid var(--color-background-light);

  transition: color var(--animation-duration-medium) ease,
    background var(--animation-duration-medium) ease,
    border-block-start-color var(--animation-duration-medium) ease;
}

code-tabs[interactive="true"] > details > pre {
  margin-inline: 0;
  padding-block-start: var(--spacing-12);
  border-radius: 0 0 var(--layout-border-radius) var(--layout-border-radius);
  border-block-start: var(--border-width-thin) solid var(--color-border-light);
}

code-tabs[interactive="true"] > details[open] > summary {
  color: var(--color-text);
  background: var(--color-code-background);
  margin-block-end: 0;
  border-block-start-color: var(--color-primary);
}

code-tabs[interactive="true"] > details[open] > pre {
  grid-column: 1 / -1;
  width: var(--code-tabs_container-width);
  position: sticky;
  left: 0;
}

code-tabs[interactive="true"] > details[open]::details-content {
  display: contents;
}

@media (hover: hover) {
  code-tabs[interactive="true"] > details > summary:is(:hover, :focus) {
    color: var(--color-primary-light);
  }
}
