// Colors
:root {
}

.btn.copy-btn {
  width: 44px;
  height: 44px;
  z-index: 10;

  &:before {
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.1s ease;
  }
}
