@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media (max-width: 991px) {
  .github-corner {
    top: 44px;
  }
}

@media (max-width: 500px) {
  .github-corner {
    &:hover .octo-arm {
      animation: none;
    }

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
