.sidebar {
  background: #273149;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 44px;
  box-shadow: 0 0.25rem 0.5rem -0.1rem rgba(0, 32, 128, 0.2);

  &__menu {
    position: absolute;
    font-weight: bold;
    border: none;
    text-align: left;
    text-transform: uppercase;
    left: 0;
    top: 0;
    padding: 0.75rem 1rem;
    outline: 0;
  }

  &__menu-icon {
    height: 24px;
  }

  &__links {
    background: #273149;
    overflow-y: auto;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 378px;
    margin-top: 44px;
    box-shadow: 0 0.25rem 0.5rem -0.1rem rgba(0, 32, 128, 0.2);
    padding-bottom: 1rem;

    &.is-active {
      transform: rotateX(0);
      visibility: visible;
      opacity: 1;
    }
  }

  &__link {
    display: block;
    color: #e3f5ff;
    padding: 0.75rem;
    padding-right: 1.5rem;
    margin-right: -0.75rem;
    transition: all 0.1s ease-out;
    border-left: 2px solid #576a85;
    font-weight: 500;
    font-size: 0.95rem;

    &:hover {
      color: #88f4ff;
      background: rgba(255, 255, 255, 0.1);
      border-color: pink;
    }
  }

  &__section {
    padding: 0 0.75rem;
  }

  &__section-heading {
    text-transform: capitalize;
    color: #e3f5ff;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  .sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(-30deg, #273149, #1c273f);
    box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 32, 64, 0.1);
    overflow-y: auto;
    color: white;

    @media (min-width: 1400px) {
      width: 275px;
    }

    &__links {
      background: none;
      box-shadow: none;
      visibility: visible;
      opacity: 1;
      transform: rotateX(0);
      margin-top: 0;
      max-height: none;
    }

    &__menu {
      display: none;
    }
  }
}

html:not(.macOS) {
  .sidebar {
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #505b76;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #505b76;
    }
  }
}
