<header class="header">
  <div class="container">
    <img class="header__leaves" draggable="false" id="header__leaves1" src="./src/img/leaves.svg" alt>
    <img class="header__leaves" draggable="false" id="header__leaves2" src="./src/img/leaves.svg" alt>
    <img id="header__blob" draggable="false" src="./src/img/blob.png" alt>
    <div class="header__content">
      <img class="header__logo" draggable="false" src="./src/img/logo.png">
      <h1 class="header__heading">30 Seconds of <strong class="header__css">CSS</strong></h1>
      <p class="header__description">
        A curated collection of useful CSS snippets you can understand in 30 seconds or less.
      </p>
      <div class="header__github-button-wrapper">
        <a class="github-button header__github-button" href="https://github.com/30-seconds/30-seconds-of-css" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star 30-seconds/30-seconds-of-css on GitHub">Star</a>
      </div>
    </div>
  </div>
</header>
