// Colors
:root {
  --a-link-color: #2747C7;
}

// Dark mode colors
.dark {
  --a-link-color: #6DC7FD;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: var(--a-link-color);
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
}
