// Colors - all colors should be prefixed with `clr-`
//  This include everything except typography and elevation
//  Refer to _type and _surfaces for those palettes

:root {
  // Page background
  --clr-bg: hsl(240, 49%, 7%);

  // Brand primary
  --clr-primary: hsl(217, 98%, 66%);

  // Navbar
  --clr-navbar-bg: hsl(252, 22%, 5%);

  // Scrollbars
  --clr-scrollbar-bg: hsl(240, 52%, 5%);
  --clr-scrollbar-knob: hsl(240, 17%, 17%);
  --clr-scrollbar-knob-active: hsl(240, 15%, 20%);

  // Search bar
  --clr-search-bg: hsla(0, 0%, 0%, .98);
  --clr-search-results-border: hsla(0, 0%, 100%, 0.12);

  // Buttons & toggles
  --clr-btn-bg: hsl(239, 97%, 61%);
  --clr-tgl-fg: hsl(240, 4%, 84%);
  --clr-tgl-bg: hsl(235, 7%, 39%);
  --clr-tgl-fg-active: hsl(240, 82%, 87%);
  --clr-tgl-bg-active: hsl(235, 46%, 44%);

  // Expertise
  --clr-exp-beginner: hsl(89, 64%, 46%);
  --clr-exp-intermediate: hsl(42, 100%, 50%);
  --clr-exp-advanced: hsl(1, 84%, 59%);
  --clr-exp-article: hsl(216, 100%, 63%);

  // Snippet Preview (CSS snippet cards)
  --clr-snippet-preview-bg: hsl(240, 26%, 7%);

  // Article snippet cards
  --clr-quote-border: hsl(223, 32%, 64%);
  --clr-table-border: hsl(235, 7%, 39%);
  --clr-img-credit-bg :hsla(240, 27%, 7%, 0.84);
}
