:root {
  // Interface color palette
  --back-color: #F5F6FA;
  --back-color-dark: #D7DDF3;
  --fore-color: #404454;
  --fore-color-light: #575E7A;
  --fore-color-lighter: #666E8F;
  --fore-color-dark: #1F253D;
  --fore-color-darker: #060709;

  // TODO: Extract this as a component later on
  // Link color palette
  --a-link-color: #0277bd;
  --a-visited-color: #01579b;
}

// Dark mode colors
.page-container.dark {
  // Interface color palette
  --back-color: #2A314C;
  --back-color-dark: #8993BE;
  --fore-color: #ABAFBF;
  --fore-color-light: #858CA8;
  --fore-color-lighter: #707899;
  --fore-color-dark: #B4BCD9;
  --fore-color-darker: #FCFCFD;

  // TODO: Extract this as a component later on
  // Link color palette
  --a-link-color: #6DC7FD;
  --a-visited-color: #5DB7FE;
}