// Colors
:root {
  // Interface color palette
  --back-color: #F5F6FA;
  --fore-color: #404454;
  --fore-color-light: #4c526b;
  --fore-color-dark: #1F253D;
  --fore-color-darker: #060709;

  // Scrollbar
  --scrollbar-back-color: #e0e4f6;
  --scrollbar-fore-color: #666E8F;
  --scrollbar-fore-color-dark: #555c77;
}

// Dark mode colors
.page-container.dark {
  --back-color: #1f2028;
  --fore-color: #c8cad5;
  --fore-color-light: #acb1c3;
  --fore-color-dark: #c5cadd;
  --fore-color-darker: #fcfcfd;
}

body.dark {
  background: #12151c;  // Hack to remove white space
  // Scrollbar
  --scrollbar-back-color: hsl(227, 21%, 9%);
  --scrollbar-fore-color: hsl(228, 17%, 27%);
  --scrollbar-fore-color-dark: hsl(228, 17%, 36%);
}

// Layout breakpoints
$layout-medium-breakpoint: 600px;
$layout-large-breakpoint: 900px;
