@font-face {
    font-family: "icons";
    src: url("../assets/icons.woff2?cc844cb06050406a8d0b05a3f33c8127") format("woff2");
}

.icon:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.icon-arrow-down:before {
    content: "\f101";
}
.icon.icon-arrow-left:before {
    content: "\f102";
}
.icon.icon-arrow-right:before {
    content: "\f103";
}
.icon.icon-arrow-up:before {
    content: "\f104";
}
.icon.icon-blog:before {
    content: "\f105";
}
.icon.icon-check:before {
    content: "\f106";
}
.icon.icon-chevron-left:before {
    content: "\f107";
}
.icon.icon-chevron-right:before {
    content: "\f108";
}
.icon.icon-clipboard:before {
    content: "\f109";
}
.icon.icon-codepen:before {
    content: "\f10a";
}
.icon.icon-csharp:before {
    content: "\f10b";
}
.icon.icon-css:before {
    content: "\f10c";
}
.icon.icon-github:before {
    content: "\f10d";
}
.icon.icon-home:before {
    content: "\f10e";
}
.icon.icon-js:before {
    content: "\f10f";
}
.icon.icon-list:before {
    content: "\f110";
}
.icon.icon-moon:before {
    content: "\f111";
}
.icon.icon-php:before {
    content: "\f112";
}
.icon.icon-python:before {
    content: "\f113";
}
.icon.icon-react:before {
    content: "\f114";
}
.icon.icon-search:before {
    content: "\f115";
}
.icon.icon-settings:before {
    content: "\f116";
}
.icon.icon-share:before {
    content: "\f117";
}
.icon.icon-star:before {
    content: "\f118";
}
.icon.icon-sun:before {
    content: "\f119";
}
.icon.icon-twitter:before {
    content: "\f11a";
}
