@font-face {
  font-family: "icons";
  src: url("../../assets/icons.woff2?495cf1ba4bbfb160638827f1a6e06511") format("woff2");
}

.icon:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon-blog:before {
  content: "\f101";
}
.icon.icon-check:before {
  content: "\f102";
}
.icon.icon-chevron-left:before {
  content: "\f103";
}
.icon.icon-chevron-right:before {
  content: "\f104";
}
.icon.icon-clipboard:before {
  content: "\f105";
}
.icon.icon-codepen:before {
  content: "\f106";
}
.icon.icon-css:before {
  content: "\f107";
}
.icon.icon-git:before {
  content: "\f108";
}
.icon.icon-github:before {
  content: "\f109";
}
.icon.icon-home:before {
  content: "\f10a";
}
.icon.icon-js:before {
  content: "\f10b";
}
.icon.icon-node:before {
  content: "\f10c";
}
.icon.icon-python:before {
  content: "\f10d";
}
.icon.icon-react:before {
  content: "\f10e";
}
.icon.icon-search:before {
  content: "\f10f";
}

.card-icon, 
.btn { 
  &.icon-js {
    background: #f6d854;
    color: #392f31;
  }
  &.icon-css {
    background: #3f4de4;
    color: #ffffff;
  }
  &.icon-react {
    background: #282c34;
    color: #61dafb;
  }
  &.icon-python {
    background: #3c77a9;
    color: #ffffff;
  }
  &.icon-blog {
    background: #1f253d;
    color: #edf0fc;
  }
  &.icon-node {
    background: #333333;
    color: #539e43;
  }
  &.icon-git {
    background: #f05133;
    color: #ffffff;
  }
}

.collection-chip {
  > .icon-js:before {
    background: #f6d854;
    color: #392f31;
  }
  > .icon-css:before {
    background: #3f4de4;
    color: #ffffff;
  }
  > .icon-react:before {
    background: #282c34;
    color: #61dafb;
  }
  > .icon-python:before {
    background: #3c77a9;
    color: #ffffff;
  }
  > .icon-blog:before {
    background: #1f253d;
    color: #edf0fc;
  }
  > .icon-node:before {
    background: #333333;
    color: #539e43;
  }
  > .icon-git:before {
    background: #f05133;
    color: #ffffff;
  }
}
