@font-face {
  font-family: "icons";
  src: url("../../assets/icons.woff2?e8b6ab151e7b29cefcde5461c3388146") format("woff2");
}

.icon:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon-check:before {
  content: "\f101";
}
.icon.icon-chevron-left:before {
  content: "\f102";
}
.icon.icon-chevron-right:before {
  content: "\f103";
}
.icon.icon-clipboard:before {
  content: "\f104";
}
.icon.icon-codepen:before {
  content: "\f105";
}
.icon.icon-github:before {
  content: "\f106";
}
.icon.icon-home:before {
  content: "\f107";
}
.icon.icon-search:before {
  content: "\f108";
}
