
.inline-block { display: inline-block; }
.flex         { display: flex; }
.flex-col     { flex-direction: column; }
.j-center     { justify-content: center; }
.a-center     { align-items: center; }

