// Set up some basic styling for everything
html {
  font-size: 16px;
  scroll-behavior: auto;
}
html, * {
  font-family: 'Inter', Helvetica, sans-serif;
  line-height: 1.5;
  // Prevent adjustments of font size after orientation changes in mobile.
  -webkit-text-size-adjust: 100%;
}
:not(code):not(kbd):not(pre) {
  font-feature-settings: "frac", "cv05", "cv11", "calt", "kern";
}
* {
  font-size: var(--font-sm);
  font-weight: 350;
}
// Apply fixes and defaults as necessary for modern browsers only
a, b, em, i, q, span, strong, u {
  transition: 0.3s ease all;
  font-size: 1em; // Fix for elements inside headings not displaying properly.
}
body {
  margin: 0;
  background: var(--clr-bg);
  color: var(--clr-txt-100);
  overflow-x: hidden;
}
// Show overflow in Edge.
input {
  overflow: visible;
}
// Correct style in Chrome and Safari.
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
// Correct style in Chrome and Safari.
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
// Make images responsive by default.
img {
  max-width: 100%;
  height: auto;
}
// Style headings according to design guidelines
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0.75rem 0.5rem;
}
h1 {
  font-size: var(--font-x3);
}
h2 {
  font-size: var(--font-x2);
}
h3 {
  font-size: var(--font-xl);
}
h4 {
  font-size: var(--font-xl);
}
h5 {
  font-size: var(--font-lg);
}
h6 {
  font-size: var(--font-md);
}
// Style textual elements
p {
  margin: 0.5rem;
}
ol, ul {
  margin: 0.5rem;
  padding-left: 1.25rem;
}
b, strong {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
em {
  font-variation-settings: 'slnt' -6.0;
}
sup, sub, code, kbd {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
blockquote {
  margin: 1rem 0 0.5rem;
  padding-left: 1.5rem;
  box-shadow: inset 4px 0 0 0 var(--clr-quote-border);
  font-style: italic;
  line-height: 2;
  font-weight: 350;
}
// Style tabular content
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;

  &.primary-col {

    tr > td:first-child {
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      text-align: right;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
  }

  th {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: var(--font-md);
  }

  td, th {
    text-align: center;
    border: 1px solid var(--clr-table-border);
    padding: 0.5rem;
  }
}
// Use pointer cursor for label
label {
  cursor: pointer;
}
