// Surface and elevation definitions
//  dp = elevation unit, larger means higher elevation (closer)
//  db = the same dp value overlayed over bg (calculated)

@mixin generate-surface-styles($elevations) {
  @each $elevation in $elevations {
    .srfc-#{$elevation}dp {
      background: var(--clr-el-#{$elevation}dp);
    }
    .srfc-#{$elevation}db {
      background: var(--clr-el-#{$elevation}db);
    }
  }
}

// Colors
:root {
  --clr-el-01dp: hsla(0, 0%, 100%, 0.05);
  --clr-el-01db: hsl(240, 28%, 11%);

  --clr-el-02dp: hsla(0, 0%, 100%, 0.08);
  --clr-el-02db: hsl(240, 23%, 14%);

  --clr-el-03dp: hsla(0, 0%, 100%, 0.11);
  --clr-el-03db: hsl(240, 17%, 17%);
}

@include generate-surface-styles(('01', '02', '03', '04', '05'));
