:root {
  // Border radius values.
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 8px;
  // Border width values.
  --border-width-thin: 1px;
  --border-width-medium: 2px;
  --border-width-thick: 4px;
}
