:root {
  // Page background.
  --color-background: hsl(240, 61%, 7%);
  // Light background (chips, omnisearch).
  --color-background-light: hsl(240, 39%, 14%);

  // Text base.
  --color-text: hsl(240, 10%, 90%);
  // Light text (breadcrumbs, pagination).
  --color-text-light: hsl(240, 10%, 80%);
  // Lighter text(header icons, footer).
  --color-text-lighter: hsl(240, 10%, 70%);

  // Primary (link underline, selected chip, hovered links, pagination).
  --color-primary: hsl(217, 98%, 66%);
  // Light primary (hash, omnisearch focus, omnisearch results hover).
  --color-primary-light: hsl(217, 98%, 77%);

  // Code background (inline code, code blocks, kbd).
  --color-code-background: hsl(225, 42%, 16%);

  // Border (omnisearch separator).
  --color-border: hsl(235, 25%, 27%);
  // Light border (table borders, hr).
  --color-border-light: hsl(235, 15%, 41%);

  // Scrollbar knob (body, chips on mobile).
  --color-scrollbar-knob: hsl(240, 35%, 17%);
  // Scrollbar knob on hover (body on desktop).
  --color-scrollbar-knob-active: hsl(240, 30%, 23%);

  // Selection background.
  --color-selection-background: hsl(230, 98%, 58%);
}
