.snippet-card {

  .card-preview-content {
    .snippet-preview {
      border-bottom-left-radius: var(--br-none);
      border-bottom-right-radius: var(--br-none);
    }

    + .card-source-content {
      margin-top: 0;

      pre:first-of-type {
        border-top-left-radius: var(--br-none);
        border-top-right-radius: var(--br-none);
      }
    }
  }
}
