.snippet-card {

  .card-preview-content {
    .snippet-preview {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    + .card-source-content {
      margin-top: 0;

      pre:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
