.card {
  margin: 1.75rem 0.25rem 1rem;
  padding: 1.5rem 1rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    margin: 1.75rem 0.875rem 1rem;
    padding: 2rem 1.5rem;
  }

  // Reusable utility for all card titles, including in body (used in articles)
  .card-title {
    &,
    & a {
      font-weight: 500;
    }

    &.linkable {
      a {
        position: absolute;
        top: 0;
        left: -14px;
        width: 14px;
        height: 100%;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;

        &::before {
          content: '#';
        }

        &:hover,
        &:focus {
          opacity: 1;
          outline: 0;
        }
      }

      &:hover,
      &:focus {
        a {
          opacity: 1;
        }
      }
    }
  }

  .card-description {
    margin: 0;

    > p,
    li,
    li > p {
      font-size: var(--font-sm);
      line-height: 2rem;

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: var(--font-md);
      }
    }

    > p {
      margin: 1.5rem 0 0;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:last-child:not(:first-child) {
        margin-bottom: 1.5rem;
      }
    }

    ul,
    ol {
      margin: 1rem 0 0;
    }

    > ul,
    > ol {
      &:last-child:not(:first-child) {
        margin-bottom: 1.5rem;
      }
    }

    li {
      margin: 0.375rem 0;
    }
  }

  .card-image {
    object-fit: cover;
    width: 100%;
  }
}

// List item card
.list-card {
  overflow: hidden;
  grid-template-rows: auto;
  gap: 24px;
  grid-template-columns: 144px auto;
  content-visibility: auto;
  contain-intrinsic-size: 240px;

  @media screen and (min-width: $layout-medium-breakpoint) {
    padding: 1.5rem;
    contain-intrinsic-size: 144px;
  }
}
