.card {
  // Reusable utility for all card titles, including in body (used in articles)
  .card-title {
    &,
    & a {
      font-weight: 500;
    }

    &.linkable {
      a {
        position: absolute;
        top: 0;
        left: -14px;
        width: 14px;
        height: 100%;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;

        &::before {
          content: '#';
        }

        &:hover,
        &:focus {
          opacity: 1;
          outline: 0;
        }
      }

      &:hover,
      &:focus {
        a {
          opacity: 1;
        }
      }
    }
  }

  .card-description {
    margin: 0;

    > p,
    li,
    li > p {
      font-size: var(--font-sm);
      line-height: 2rem;

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: var(--font-md);
      }
    }

    > p {
      margin: 1.5rem 0 0;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:last-child:not(:first-child) {
        margin-bottom: 1.5rem;
      }
    }

    ul,
    ol {
      margin: 1rem 0 0;
    }

    > ul,
    > ol {
      &:last-child:not(:first-child) {
        margin-bottom: 1.5rem;
      }
    }

    li {
      margin: 0.375rem 0;
    }
  }
}

// List item card
.list-card {
  overflow: hidden;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-columns: 144px auto;
  content-visibility: auto;
  contain-intrinsic-size: 192px;

  @media screen and (min-width: $layout-medium-breakpoint) {
    contain-intrinsic-size: 224px;
    gap: 1.5rem;
  }

  .card-data {
    gap: 0.25rem;

    @media screen and (min-width: $layout-medium-breakpoint) {
      gap: 0.5rem;
    }
  }

  // Make entire card clickable
  h3 > a:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
