.card {
  position: relative;
  border-radius: var(--br-lg);
  margin: 1.75rem 0.25rem 1rem;
  padding: 1.5rem 1rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    margin: 1.75rem 0.875rem 1rem;
    padding: 2rem 1.5rem;
  }

  // Reusable utility for all card titles
  .card-title {
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      &, &:link, &:visited {
        font-weight: 500;
        line-height: 1;
        color: var(--clr-txt-200);
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  // Reusable utility class (tag list, snippet collection subtitle)
  .card-subtitle {
    margin: 0;
    display: inline-block;
    line-height: 1rem;
  }

  // Reusable utility for all card icons
  .card-icon {
    position: relative;
    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;

    &:before {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-size: 36px;
    }

    // Custom styles for dart icon
    &.icon-dart:before {
      content: '';
      background-image: generate-icon-background("dartlang", '', '', 0, 24);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // Reusable utility for titles in the body of cards (used in blogs)
  .card-body-title {
    line-height: 2rem;
    font-weight: 500;
    margin: 1.5rem 0 0;
  }

  .card-data {
    margin: 0 0.5rem;
  }

  .card-meta {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 64px auto;

    .card-data {
      flex: 1 1;
      max-width: calc(100% - 5rem);
    }
  }

  .card-description {
    grid-column: 1/3;
    margin: 0;

    > p, li {
      font-size: var(--font-sm);
      line-height: 2rem;

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: var(--font-md);
      }
    }

    > p {

      &:not(.card-fw-section) {
        margin: 1.5rem 0 0;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:last-child:not(:first-child):not(.card-image-credit) {
        margin-bottom: 1.375rem;
      }
    }

    ul, ol {
      margin: 1rem 0 0;
    }

    li {
      margin: 0.375rem 0;
    }
  }

  // Card full width section utility
  .card-fw-section {
    position: relative;
    box-sizing: border-box;
    margin: 1.375rem -1rem 0;
    min-width: calc(100% + 2rem);
    object-fit: cover;

    @media screen and (min-width: $layout-medium-breakpoint) {
      margin: 1.375rem -1.5rem 0;
      min-width: calc(100% + 3rem);
    }
  }

  // Keep this below the full width section utility for correct cascade
  .card-cover-image {
    --cover-aspect-ratio: 1.78;
    margin-top: 0.375rem;
    margin-bottom: 0;
    min-height: calc(260px / var(--cover-aspect-ratio));
    max-height: calc(680px / var(--cover-aspect-ratio));

    @media screen and (min-width: $layout-medium-breakpoint) {
      margin-top: 0.375rem;
    }
  }

  p:last-child.card-image-credit {
    font-size: var(--font-xs);
    padding: 0 1.5rem;
    margin-top: -2.375rem;
    background-color: var(--clr-img-credit-bg);
    color: var(--clr-txt-150);
    order: -1;

    @media screen and (min-width: $layout-medium-breakpoint) {
      margin-top: -2.375rem;
    }
  }
}

// List item card
.list-card {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 64px calc(100% - 64px);
  content-visibility: auto;
  contain-intrinsic-size: 240px;

  @media screen and (min-width: $layout-medium-breakpoint) {
    contain-intrinsic-size: 144px;
  }
}
