// Colors
:root {
  --card-back-color: #FFFFFF;
  --card-fore-color: #212121;
  --card-fore-color-light: #424242;
  --card-shadow-color: rgba(0, 32, 128, 0.09);
}

// Dark mode colors
.page-container.dark {
  --card-back-color: #1A1A1A;
  --card-fore-color: #F0F0F0;
  --card-fore-color-light: #D6D6D6;
  --card-shadow-color: rgba(0, 3, 10, 0.09);
}

.card {
  position: relative;
  transition: all 0.3s ease;
  margin: 1.75rem 0.875rem 1rem;
  background: var(--card-back-color);
  color: var(--card-fore-color);
  box-shadow: 0px 1px 2px var(--card-shadow-color);
  border-radius: 0.25rem;
  padding: 1rem;

  .card-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0.625rem 0.5rem 0.125rem;
    transition: 0.3s ease all;
    color: var(--card-fore-color);
    letter-spacing: -0.125px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-icon {
    position: relative;
    display: inline-block;
    margin: 0.625rem 0.5rem 0.125rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;

    &:before {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-size: 2rem;
    }

    // Custom styles for dart icon
    &.icon-dart:before {
      content: '';
      background-image: generate-icon-background("dartlang", '', '', 0, 24);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .card-meta {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 64px auto;

    .card-data {
      flex: 1 1;
      max-width: calc(100% - 5rem);
    }

    .card-title {
      margin: 0.625rem 0.5rem 0 0.75rem;
    }
  }

  .card-description {
    grid-column: 1/3;
    margin: 0;
    font-size: 0.875rem;
    color: var(--card-fore-color-light);
    line-height: 1.35;

    > p {
      margin: 0.875rem 0.5rem 1.5rem;
      line-height: 2;

      &:last-child {
        margin-bottom: 1.375rem;
      }
    }

    li {
      line-height: 2;
      margin: 0.75rem 0 0.5rem;
    }
  }
}
