// Colors
:root {
  --nav-bar-back-color: #FFFFFF;
  --nav-bar-border-color: #E4E6EC;
  --nav-button-fore-color: #53586A;
  --nav-button-active-fore-color: #2747C7;
}

// Dark mode colors
.page-container.dark {
  --nav-bar-back-color: #12151c;
  --nav-bar-border-color: #13151b;
  --nav-button-fore-color: #c9cbd4;
  --nav-button-active-fore-color: #f3f5fb;
}

// Body scrollbar
body {
  &::-webkit-scrollbar-track {
    margin-top: 56px;
    background-color: var(--scrollbar-back-color);
  }

  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fore-color);
    border-radius: 0.25rem;
  }
}

.page-container {
  transition: 0.3s ease all;
  background: var(--back-color);
  width: 100vw;
  min-height: 100vh;
}

// Navigation bar
.nav-bar {
  position: sticky;
  top: 0;
  transition: 0.3s ease all;
  background: var(--nav-bar-back-color);
  line-height: 0;
  box-sizing: border-box;
  z-index: 1001;
  border-bottom: 1px solid var(--nav-bar-border-color);
  height: 100%;
  width: 100vw;

  @media screen and (min-width: $layout-large-breakpoint) {
    padding-right: 0.75rem;
    text-align: center;

    > :first-child {
      margin-right: 0.75rem;
    }

    > :last-child {
      margin-right: 0.75rem;
    }
  }
}

// Navigation buttons
.nav-btn {
  position: relative;
  display: inline-block;
  height: 56px;
  width: 56px;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;

  &, &:link, &:visited {
    color: var(--nav-button-fore-color);

    &:hover, &:focus, &.active {
      outline: 0;
      text-decoration: none;
      color: var(--nav-button-active-fore-color);
    }
  }

  &:before {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 24px;
    text-align: center;
  }
}

// Website logo
img.nav-website-logo {
  transition: 0.3s ease all;
  padding: 6px;
  width: 44px;
  height: 44px;
}

// Content container
.content {
  transition: 0.3s ease all;
  background: var(--back-color);
  padding-right: 10px;  // Pad to the right for the scrollbar (10px)

  @media screen and (min-width: 800px) {
    // Difference in padding is due to the scrollbar (10px)
    padding-left: calc((100% - 800px) / 2);
    padding-right: calc((100% - 780px) / 2);
  }
}
