// Colors
:root {
  --nav-bar-back-color: #FFFFFF;
  --nav-bar-border-color: #E4E6EC;
  --nav-bar-title-color: #000000;
  --nav-button-fore-color: #53586A;
  --nav-button-active-fore-color: #2747C7;
}

// Dark mode colors
.page-container.dark {
  --nav-bar-back-color: #060709;
  --nav-bar-border-color: #12151C;
  --nav-bar-title-color: #ffffff;
  --nav-button-fore-color: #cfd1d8;
  --nav-button-active-fore-color: #fbfcfe;
}

// Body scrollbar
body {
  &::-webkit-scrollbar-track {
    margin-top: 0;
    background: linear-gradient(180deg, var(--nav-bar-back-color) 0%, var(--nav-bar-back-color) 111.5px, var(--nav-bar-border-color) 111.5px, var(--nav-bar-border-color) 112.5px, var(--back-color) 112.5px, var(--back-color) 100%);
  }

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;

    @media screen and (min-width: $layout-medium-breakpoint) {
      width: 8px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-fore-color);
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--scrollbar-fore-color-dark);
    }
  }
}

.page-container {
  transition: 0.3s ease all;
  background: var(--back-color);
  width: 100vw;
  min-height: 100vh;
}

// Navigation bar
.nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
  background: var(--nav-bar-back-color);
  line-height: 0;
  box-sizing: border-box;
  z-index: 1001;
  border-bottom: 1px solid var(--nav-bar-border-color);
  height: 112px;
  width: 100vw;
  padding-right: 4px;  // Pad to the right for the scrollbar (4px)

  @media screen and (min-width: $layout-medium-breakpoint) {
    padding-right: 8px;  // Pad to the right for the scrollbar (8px)
  }

  @media screen and (min-width: 882px) {
    // Difference in padding is due to the scrollbar (8px)
    padding-left: calc((100% - 882px) / 2);
    padding-right: calc((100% - 866px) / 2);
  }
}

.nav-title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.75rem 0.5rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    width: calc(100% - 240px - 44px - 76px - 64px);
  }

  &:hover, &:focus, &:active {
    outline: 0;
    text-decoration: none;
  }
}

.nav-title {
  display: none;
  color: var(--nav-bar-title-color);
  font-family: 'Raleway', Helvetica, sans-serif;
  letter-spacing: 0.25px;
  font-variant-numeric: lining-nums;
  margin: 0;

  @media screen and (min-width: $layout-medium-breakpoint) {
    display: block;
    font-size: 1rem;
  }

  @media screen and (min-width: 680px) {
    font-size: 1.5rem;
  }
}

.nav-subtitle {
  display: none;
  color: var(--fore-color);
  font-size: 1rem;
  margin: 0;

  @media screen and (min-width: $layout-large-breakpoint) {
    display: block;
  }
}

// Navigation buttons
.nav-btn {
  position: relative;
  display: inline-block;
  min-width: 64px;
  min-height: 56px;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;

  &, &:link, &:visited {
    color: var(--nav-button-fore-color);

    &:hover, &:focus, &.active {
      outline: 0;
      text-decoration: none;
      color: var(--nav-button-active-fore-color);
    }
  }

  &:before {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 24px;
    text-align: center;
  }
}

// Website logo
img.nav-website-logo {
  transition: 0.3s ease all;
  padding: 6px;
  width: 64px;
  height: 64px;
}

// Content container
.content {
  transition: 0.3s ease all;
  background: var(--back-color);
  padding-right: 4px;  // Pad to the right for the scrollbar (4px)

  @media screen and (min-width: $layout-medium-breakpoint) {
    padding-right: 8px;  // Pad to the right for the scrollbar (8px)
  }

  @media screen and (min-width: 882px) {
    // Difference in padding is due to the scrollbar (8px)
    padding-left: calc((100% - 882px) / 2);
    padding-right: calc((100% - 866px) / 2);
  }
}
