// Body scrollbar
body {
  &::-webkit-scrollbar-track {
    margin-top: 0;
    background: var(--clr-scrollbar-bg)
  }

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;

    @media screen and (min-width: $layout-medium-breakpoint) {
      width: 8px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar-knob);
    border-radius: var(--br-md);

    &:hover {
      background-color: var(--clr-scrollbar-knob-active);
    }
  }
}

.page-container {
  transition: 0.3s ease all;
  background: var(--clr-bg);
  width: 100vw;
  min-height: 100vh;
}

// Navigation bar
.nav-bar {
  position: sticky;
  top: 0;
  transition: 0.3s ease all;
  background: var(--clr-navbar-bg);
  box-shadow: var(--shd-el-01dp);
  line-height: 0;
  box-sizing: border-box;
  z-index: 1001;
  height: 76px;
  width: 100vw;
  padding-right: 4px;  // Pad to the right for the scrollbar (4px)

  @media screen and (min-width: $layout-medium-breakpoint) {
    height: 112px;
    padding-right: 8px;  // Pad to the right for the scrollbar (8px)
  }

  @media screen and (min-width: 882px) {
    // Difference in padding is due to the scrollbar (8px)
    padding-left: calc((100% - 882px) / 2);
    padding-right: calc((100% - 866px) / 2);
  }
}

.nav-title-wrapper {
  margin: 0.75rem 0.5rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    width: calc(100% - 250px - 44px - 76px - 64px);
  }

  &:hover, &:focus, &:active {
    outline: 0;
    text-decoration: none;
  }
}

.nav-title {
  display: none;
  margin: 0;
  font-size: var(--font-md);

  @media screen and (min-width: $layout-medium-breakpoint) {
    display: block;
  }

  @media screen and (min-width: 680px) {
    font-size: var(--font-xl);
  }
}

.nav-subtitle {
  display: none;
  margin: 0;

  @media screen and (min-width: $layout-large-breakpoint) {
    display: block;
  }
}

// Website logo
img.nav-website-logo {
  transition: 0.3s ease all;
  padding: 6px;
  width: 56px;
  height: 56px;

  @media screen and (min-width: $layout-medium-breakpoint) {
    width: 64px;
    height: 64px;
  }
}

// Content container
.content {
  transition: 0.3s ease all;
  background: var(--clr-bg);
  padding-right: 4px;  // Pad to the right for the scrollbar (4px)

  @media screen and (min-width: $layout-medium-breakpoint) {
    padding-right: 8px;  // Pad to the right for the scrollbar (8px)
  }

  @media screen and (min-width: 882px) {
    // Difference in padding is due to the scrollbar (8px)
    padding-left: calc((100% - 882px) / 2);
    padding-right: calc((100% - 866px) / 2);
  }
}

// List section utility
.list-section {
  margin: 0;
  padding: 0;
  list-style: none;
}
