.page-container {
  width: 100vw;
  min-height: 100vh;
}

// Navigation bar
.nav-bar {
  flex-flow: row wrap;
  background: var(--clr-navbar-bg);
  z-index: 1001;
  height: 112px;
  width: 100vw;
  padding-top: 0.5rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    padding: 0 1rem;
    justify-content: space-between;
  }

  @media screen and (min-width: 960px) {
    padding: 0 calc((100% - 928px) / 2);
  }

  h1 {
    cursor: pointer;
  }
}

.nav-control-wrapper {
  grid-template-columns: 1fr;
  flex: 0 0 calc(100% - 0.5rem);
  margin: 0.25rem 0 0;

  @media screen and (min-width: $layout-medium-breakpoint) {
    flex: 0 0 344px;
    margin: 0;
  }

  a {
    &:hover,
    &:focus {
      outline: 0;

      > span {
        color: var(--clr-primary-050);
      }
    }
  }

  > :not(:last-child) {
    display: none;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    flex: 0 0 464px;
    grid-template-columns: 1fr 1fr 432px;

    > :not(:last-child) {
      display: block;
    }
  }
}

img.nav-website-logo {
  width: auto;
  height: 42px;

  @media screen and (min-width: $layout-medium-breakpoint) {
    height: 52px;
  }
}

// Skip to content link
.skip-link {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  transition: none;
  line-height: 112px;

  // The link must have the same height and background as the nav bar
  &:focus {
    clip-path: none;
    background: var(--clr-navbar-bg);
    height: 112px;
    z-index: 1001;
  }
}

// Footer styles
footer {
  // Make at least as tall as the cookie consent popup
  // to ensure that the paginator is never hidden
  min-height: 9rem;

  p {
    line-height: 1.5rem;
  }
}
