---
import '../styles/pages/404.scss';

import Layout from '#layouts/Layout';
import Image from '#components/Image';
import Icon from '#components/Icon';
---

<Layout title='Page not found'>
  <main>
    <section class='page-not-found'>
      <Image
        src='/assets/splash/plane.png'
        height='360'
        width='360'
      />
      <h1>Page not found</h1>
      <p>Seems like you have reached a page that does not exist.</p>
      <a href='/' >
        <Icon name='home' size='1em' aria-hidden='true' />
        Go back home
      </a>
    </section>
  </main>
</Layout>
