// Colors
:root {
  --toggle-fore-color: #FFFFFF;
  --toggle-fore-color-active: #575aea;
  --toggle-shadow-color: rgba(0, 0, 0, 0.25);
  --toggle-back-color: #c2c4cb;
  --toggle-back-color-active: #bebffe;
}

.page-container.dark {
  --toggle-fore-color: #cfcfcf;
  --toggle-fore-color-active: #bebffe;
  --toggle-back-color: #45464f;
  --toggle-back-color-active: #575aea;
}

.toggle {
  display: block;
  width: 100%;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  margin: 0.875rem 0.5rem 1.5rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    font-size: 1.125rem;
  }
}

.toggle-switch {
  position: absolute;
  right: 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--toggle-back-color);
  border: none;
  color: var(--toggle-fore-color);
  height: 12px;
  width: 24px;
  border-radius: 6px;
  vertical-align: text-bottom;
  margin: 0.25rem;
  box-sizing: border-box;
  transition: all .3s ease;
  outline: transparent;
  cursor: pointer;

  &:before {
    width: 16px;
    height: 16px;
    content: '';
    position: absolute;
    background: var(--toggle-fore-color);
    top: -2px;
    left: -8px;
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
    box-shadow:  0px 1px 3px var(--toggle-shadow-color);
  }

  &:checked {
    background: var(--toggle-back-color-active);

    &:before {
      background: var(--toggle-fore-color-active);
      left: calc(100% - 8px);
    }
  }
}
