.toggle {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0.875rem 0;

  @media screen and (min-width: $layout-medium-breakpoint) {
    font-size: var(--font-md);
  }
}

.toggle-switch {
  position: absolute;
  right: 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--clr-tgl-bg);
  border: none;
  color: var(--clr-tgl-fg);
  height: 12px;
  width: 24px;
  border-radius: var(--br-round);
  vertical-align: text-bottom;
  box-sizing: border-box;
  transition: all .3s ease;
  outline: transparent;
  cursor: pointer;

  &:before {
    width: 16px;
    height: 16px;
    content: '';
    position: absolute;
    background: var(--clr-tgl-fg);
    top: -2px;
    left: -8px;
    border-radius: var(--br-round);
    transition: all .3s ease;
    cursor: pointer;
  }

  &:checked {
    background: var(--clr-tgl-bg-active);

    &:before {
      background: var(--clr-tgl-fg-active);
      left: calc(100% - 8px);
    }
  }
}
