// Colors
:root {
  --expertise-beginner: #7CB342;
  --expertise-intermediate: #FFB300;
  --expertise-advanced: #D66361;
}

.expertise {
  position: relative;
  display: inline-block;
  border: 2px solid var(--tag-border-color);
  border-radius: 0.375rem;
  color: var(--tag-fore-color);
  padding: 0.125rem 0.625rem 0.125rem 1.125rem;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.25px;
  transition: 0.3s ease all;

  &.beginner {
    --expertise-color: var(--expertise-beginner);
  }

  &.intermediate {
    --expertise-color: var(--expertise-intermediate);
  }

  &.advanced {
    --expertise-color: var(--expertise-advanced);
  }

  &::before {
    display: block;
    position: absolute;
    content: '';
    top: 6px;
    left: 6px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: var(--expertise-color);
  }
}
