.browser-support-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  margin: 0.5rem;
  color: var(--card-fore-color-light);
}

.browser-support-percentage {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  color: var(--card-fore-color-light);
}

.browser-support-text {
  padding-top: 0.25rem;
}
