.card-actions {
  margin: 1rem 0 -1rem;
  justify-content: space-evenly;

  .btn-form, .btn {
    flex: 0 0 auto;
    text-align: center;
  }

  .btn {
    position: relative;
    margin: 0;
    padding: 0.75rem;

    &:before {
      font-size: 24px;
      vertical-align: bottom;
      width: 100%;
    }
  }
}
