---
import '../styles/pages/404.scss';

import Layout from '#src/astro/layouts/Layout.astro';
import Icon from '#src/astro/components/Icon.astro';
---

<Layout title='Page not found'>
  <main slot='main-content'>
    <section class='page-not-found'>
      <img
        src='/assets/splash/plane-600.webp'
        srcset='/assets/splash/plane-400.webp 400w, /assets/splash/plane-600.webp 600w'
        height='360'
        width='360'
      />
      <h1>Page not found</h1>
      <p>Seems like you have reached a page that does not exist.</p>
      <a href='/' >
        <Icon name='home' size='1em' aria-hidden='true' />
        Go back home
      </a>
    </section>
  </main>
</Layout>
