.shelf-title {
  display: inline-block;
  --clr-el-link: var(--clr-txt-150);

  &::before,
  &::after {
    color: var(--clr-el-link);
    transition: 0.3s ease all;
  }

  &:hover,
  &:focus {
    animation: none;
    --clr-el-link: var(--clr-primary-050);
  }
}

// TODO: Figure out if this can be built with utils
.snippets-shelf-list {
  margin: 0 0 2rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    margin-bottom: 4rem;
  }
}

.collections-shelf-list {
  margin: 1.75rem 0.25rem 2.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;

  li {
    display: inline-block;
    min-width: 180px;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    display: grid;
    gap: 1rem;
    margin: 1.75rem 0.875rem 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
