.snippets-shelf-title,
.collections-shelf-title {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 2rem;

  &::before, &::after {
    color: var(--clr-txt-150);
    transition: 0.3s ease all;
  }

  &:hover, &:focus {
    &::before, &::after {
      color: var(--clr-primary-050);
    }
  }

  &::before {
    display: none;
    position: absolute;
    right: 0.875rem;
    bottom: 0.625rem;
    font-size: 20px;
    pointer-events: all;
  }

  @media screen and (min-width: $layout-medium-breakpoint) {
    pointer-events: none;

    &::before {
      display: block;
    }

    &::after {
      position: absolute;
      content: attr(data-link-title);
      right: 2.25rem;
      bottom: 0;
      line-height: 2.5rem;
      pointer-events: all;
    }

  }
}

.shelf-list {
  padding: 0;
  list-style: none;
}

.snippets-shelf-list {
  margin: 0 0 5rem;
}

.collections-shelf-list {
  margin: 1.75rem 0.25rem 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    margin: 1.75rem 0.875rem 5rem;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
