.collection-chip {
  border-radius: var(--br-xl);

  > .icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem 0.25rem 0.5rem 4.25rem;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &, &:link, &:visited {
      color: var(--clr-txt-200);
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 36px;
      width: 64px;
      height: 64px;
      border-radius: var(--br-xl);
      line-height: 64px;
      text-align: center;
    }
  }
}
