.collection-chip {
  border-radius: 1rem;

  > .icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem 0.25rem 0.5rem 4.25rem;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    letter-spacing: 0.25px;
    font-variant-numeric: lining-nums;
    text-align: center;

    &, &:link, &:visited {
      color: var(--clr-txt-200);
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 36px;
      width: 64px;
      height: 64px;
      border-radius: 1rem;
      line-height: 64px;
      text-align: center;
    }
  }
}

.collection-card {
  margin-top: 1.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 64px calc(100% - 64px);
  content-visibility: auto;
  contain-intrinsic-size: 240px;

  @media screen and (min-width: $layout-medium-breakpoint) {
    contain-intrinsic-size: 144px;
  }

  .card-title {
    a {
      &, &:link, &:visited {
        font-family: 'Raleway', Helvetica, sans-serif;
        letter-spacing: 0.25px;
        font-variant-numeric: lining-nums;
        font-weight: 500;
        line-height: 1;
        color: var(--clr-txt-200);
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .card-icon {
    border-radius: 1rem;
  }

  .card-subtitle {
    margin: 0 .5rem;
    display: inline-block;
    font-size: .875rem;
    line-height: 1rem;
  }
}
