.collection-chip {
  border-radius: var(--br-xl);

  > .icon {
    position: relative;
    box-sizing: border-box;
    padding-left: 4.25rem;
    min-height: 64px;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 36px;
      width: 64px;
      height: 64px;
      border-radius: var(--br-xl);
      line-height: 64px;
    }
  }
}
