.page-title.recommendation-list-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 1.25rem .5rem;
  display: block;
  color: var(--fore-color);
}

.recommendation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
