.recommendation-list-title {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.375;
  font-weight: 400;
  margin: 4rem 1.25rem .5rem;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
