.page-title.recommendation-list-title {
  font-size: var(--font-xl);
  text-align: center;
  margin: 3rem 1.25rem .5rem;
  display: block;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
