.breadcrumbs {
  margin: 1rem 1rem 0;

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
  }
}

.breadcrumb-item {
  font-size: 1rem;
  line-height: 1.5;
  display: inline-block;
  position: relative;
  margin: 0 1rem 0 0;

  // Breadcrumb link
  a {

    &, &:link, &:visited {
      color: var(--clr-txt-150);
    }
  }

  &:not(:last-of-type) {

    &:before {
      color: var(--clr-txt-050);
      position: absolute;
      right: -0.75rem;
      content: "/";
    }
  }

  // Current page
  &:last-of-type {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      &, &:link, &:visited {
        color: var(--clr-txt-050);
        pointer-events: none;
      }
    }
  }
}
