a.link-back.has-more {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
}

// Second link in breadcrumbs
a.link-back-more {
  font-size: 1.125rem;
  line-height: 1.35;
  display: inline-block;
  margin: 0.875rem 1.25rem 0 0;
  position: relative;
  &, &:link, &:visited {
    color: var(--fore-color-dark);
  }

  @media screen and (max-width: calc(#{$layout-medium-breakpoint} - 1px)) {
    margin-right: 0.875rem;
  }
}
