// Colors
:root {
  --sorter-back-color: #fbfcfe;
  --sorter-shadow-color: rgba(0, 32, 128, 0.26);
}

// Dark mode colors
.page-container.dark {
  --sorter-back-color: #1b1d22;
  --sorter-shadow-color: rgba(0, 3, 10, 0.561);
}

.sorter {
  position: relative;
  width: 172px;
  height: 48px;
  box-sizing: border-box;

  .sorter-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    z-index: 100;
    box-sizing: border-box;
    background: transparent;
    box-shadow: none;
    transition: 0.3s ease box-shadow;
    border-radius: 0.5rem;
  }

  .order-btn {
    position: relative;
    padding-right: 48px;
    height: 36px;
    width: 172px;
    margin-top: 0;
    box-sizing: border-box;
    background: transparent;
    color: var(--fore-color-dark);
    box-shadow: none;

    &:hover, &:focus {
     box-shadow: none;
    }

    &:before {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 20px;
    }
  }

  &:not(.open) {

    .order-btn:not(.selected) {
      display: none;
    }
  }

  &.open {

    .sorter-inner {
      background: var(--sorter-back-color);
      box-shadow: 0px 1px 5px var(--sorter-shadow-color);
    }
  }
}

.btn.order-btn {
  font-size: 1rem;
  line-height: 1.4;
}
