.sorter {
  position: relative;
  width: 172px;
  height: 48px;
  box-sizing: border-box;

  .sorter-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    z-index: 100;
    box-sizing: border-box;
    transition: 0.3s ease box-shadow;
    border-radius: var(--br-md);
    padding-bottom: 10px;
  }

  .order-btn {
    position: relative;
    padding-right: 48px;
    height: 36px;
    width: 172px;
    margin-top: 0;
    box-sizing: border-box;
    background: transparent;
    box-shadow: none;

    &:hover, &:focus {
      color: var(--clr-link);
      box-shadow: none;
    }

    &:before {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 20px;
    }
  }

  &:not(.open) {

    .order-btn:not(.selected) {
      display: none;
    }

    .sorter-inner {
      background: transparent;
      box-shadow: none;
    }
  }
}
