// Homepage title
.home-title {
  margin: 0.5rem 1rem;

  // Homepage logo
  .home-logo {
    vertical-align: middle;
    margin: 1rem 1.25rem 0.5rem 0;
    max-width: 64px;
  }

  // Homepage title text
  .home-title-text {
    font-weight: 500;
    font-size: var(--font-xl);
    height: 1.5rem;

    @media screen and (min-width: 440px) {
      font-size: var(--font-x2);
      height: 2rem;
    }
  }
}

// Homepage subtitle
.home-sub-title {
  margin: 0.75rem 1.25rem 1.5rem;
}
