.paginator {
  margin: 1.75rem 1.25rem 1.5rem;
  align-items: baseline;

  .btn, a.btn {
    margin: 0.25rem 0;
    padding: 0.625rem 0;
    box-sizing: border-box;
    border-radius: 0;
    height: 44px;
    min-width: 44px;
    text-align: center;
    background: transparent;
    color: var(--clr-txt-150);

    &.current-page {
      cursor: default;
      color: var(--clr-txt-200);
    }

    &.previous-page, &.next-page {
      color: var(--clr-primary-050);
      position: relative;
      margin: 0.625rem 1rem;

      &:before {
        position: absolute;
        font-size: 28px;
        top: 0;
        line-height: 32px;
        transition: all 0.3s ease;

        @media screen and (min-width: $layout-medium-breakpoint) {
          line-height: 44px;
        }
      }

      &:hover, &:focus {
        transform: scale(1.05);
        transform-origin: center;
      }
    }

    &.previous-page {
      &:before {
        text-align: left;
        right: 0;

        @media screen and (min-width: $layout-medium-breakpoint) {
          left: -2rem;
        }
      }
    }

    &.next-page {
      &:before {
        text-align: right;
        left: 0;

        @media screen and (min-width: $layout-medium-breakpoint) {
          right: -2rem;
        }
      }
    }
  }

  .paginator-separator {
    letter-spacing: 2px;
  }
}
