.paginator {
  margin: 1.75rem 1.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.0625rem 0.25rem;

  .btn, a.btn {
    transition: 0.3s ease all;
    font-size: 1.125rem;
    margin: 0.25rem 0;
    padding: 0.625rem 0;
    box-sizing: border-box;
    line-height: 24px;
    height: 44px;
    min-width: 44px;
    text-align: center;
    box-shadow: none;
    background: transparent;
    color: var(--clr-txt-150);

    &:not(.current-page) {

      &:hover, &:focus {
        color: var(--clr-link);
      }
    }

    &.current-page {
      cursor: default;
      font-size: 1.5rem;
    }

    &.previous-page, &.next-page {
      color: var(--clr-link);
      position: relative;
      box-sizing: border-box;
      margin: 0.625rem 1rem;
      font-size: 0;

      @media screen and (min-width: $layout-medium-breakpoint) {
        font-size: 1rem;
      }

      &:before {
        position: absolute;
        font-size: 28px;
        top: 0;
        line-height: 32px;

        @media screen and (min-width: $layout-medium-breakpoint) {
          line-height: 44px;
        }
      }
    }

    &.previous-page {
      &:before {
        text-align: left;
        right: 0;

        @media screen and (min-width: $layout-medium-breakpoint) {
          left: -2rem;
        }
      }
    }

    &.next-page {
      &:before {
        text-align: right;
        left: 0;

        @media screen and (min-width: $layout-medium-breakpoint) {
          right: -2rem;
        }
      }
    }

  }

  .paginator-separator {
    display: block;
    color: var(--clr-txt-050);
    opacity: 0.45;
    letter-spacing: 2px;
    line-height: 24px;
    font-size: 1.5rem;
  }
}
