pre {
  position: relative;
  overflow: auto; // Responsiveness
  background: var(--clr-code-bg);
  color: var(--clr-code-block-txt);
  padding: 0.375rem;
  margin: 0.5rem 0;
  border: 0;
  white-space: pre-wrap;
  --clr-el-scrollbar-bg: var(--clr-code-scrollbar-bg);
  --clr-el-scrollbar-knob: var(--clr-code-scrollbar-knob);
  --clr-el-scrollbar-knob-active: var(--clr-code-scrollbar-knob-active);
}

pre[class*="language-"] {
  padding: 1rem .875rem;
}

pre[data-code-language]:not([data-code-language=""]) {
  padding-top: 2.625rem;

  &::before {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: inherit;
    color: var(--clr-txt-100);
    position: absolute;
    top: .8725rem;
    left: .8725rem;
    display: block;
    content: attr(data-code-language);
  }

  &.language-shell {
    &::before {
      content: 'Shell';
    }
  }
}

.namespace {
  opacity: .7;
}

.token {
  &.comment, &.prolog, &.doctype, &.cdata {
    color: var(--clr-tkn-a);
  }
  &.punctuation {
    color: var(--clr-tkn-b);
  }
  &.property, &.tag, &.boolean, &.constant, &.symbol, &.deleted, &.function {
    color: var(--clr-tkn-c);
  }
  &.number, &.class-name {
    color: var(--clr-tkn-d);
  }
  &.selector, &.attr-name, &.string, &.char, &.builtin, &.inserted {
    color: var(--clr-tkn-e);
  }
  &.operator, &.entity, &.url, &.atrule, &.attr-value, &.keyword, &.interpolation-punctuation {
    color: var(--clr-tkn-f);
  }
  &.regex {
    color: var(--clr-tkn-g);
  }
  &.important, &.variable {
    color: var(--clr-tkn-h);
  }
  &.italic, &.comment {
    font-style: italic;
  }
  &.important, &.bold {
    font-weight: 500;
  }
  &.entity {
    cursor: help;
  }
}

.language-css .token.string, .style .token.string {
  color: var(--clr-tkn-f);
}
