// Load external fonts - progressive loading should help alleviate performance issues
@font-face {
  font-family: 'Inter';
  font-weight: 100 1000;
  font-display: swap;
  src:
    local('Inter Var'),
    local('Inter Variable'),
    local('Inter-Variable'),
    url('/assets/Inter.var.woff2') format('woff2 supports variations'),
    url('/assets/Inter.var.woff2') format('woff2-variations');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto Mono'),
    local('RobotoMono-Regular'),
    url('/assets/RobotoMono-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto Mono Italic'),
    local('RobotoMono-Italic'),
    url('/assets/RobotoMono-Italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Mono Medium'),
    local('RobotoMono-Medium'),
    url('/assets/RobotoMono-Medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}
