.browser-support-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.25;
  margin: 0.5rem;
  color: var(--card-fore-color-light);
}

.browser-support-percentage {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--card-fore-color-light);
}