@import '../../../atoms/card/mixins';

// Colors
:root {
  --blog-quote-border-color: #212631;
}

.page-container.dark {
  --blog-quote-border-color: #7486af;
}

.snippet-card {

  .card-meta-info {
    font-size: 0.875rem;
    margin: 0 0.5rem 1.25rem;
    color: var(--card-fore-color-light);

    a {

      &, &:link, &:visited {
        color: var(--card-fore-color-light);
      }
    }

    .github-link, .tag-list {
      margin: 0;
    }

    .tag-list {
      color: var(--card-fore-color-light);
    }

  }

  .card-cover-image {
    --cover-aspect-ratio: 1.78;
    @include card-full-width-section;
    margin-top: 0.375rem;
    min-width: calc(100% + 2rem);
    object-fit: cover;
    margin-bottom: 1rem;
    min-height: calc(240px / var(--cover-aspect-ratio));
    max-height: calc(640px / var(--cover-aspect-ratio));
  }

  ol.blog-list {
    list-style: none;
    counter-reset: list-item-counter;

    li {
      counter-increment: list-item-counter;
      position: relative;

      &:before {
        content: counter(list-item-counter) ". ";
        position: absolute;
        top: 0;
        left: -1.5rem;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: right;
      }
    }

    .blog-list-item {
      margin-bottom: 1.5rem;

      &:before {
        font-weight: 600;
      }

      > p:first-child:not(:last-child) {
        font-weight: 600;
      }

      > p:not(:first-child), p:first-child:last-child {
        line-height: 2;
      }
    }
  }

  pre.blog-code {
    @include card-full-width-section;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  blockquote.blog-quote {
    margin: 0.875rem 0.5rem 1.5rem -1rem;
    padding-left: 1.5rem;
    box-shadow: inset 4px 0 0 0 var(--blog-quote-border-color);
    font-style: italic;
    line-height: 2;
    font-size: 1.25rem;
    font-weight: 300;
  }

  p:last-child.blog-image-credit {
    font-size: 0.875rem;
    margin: 0 -1rem -1rem;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .card-description {
    li:not(.blog-list-item) > p {
      line-height: 2;
      margin: 0;
    }
  }
}
