@import '../../../atoms/card/mixins';

// Colors
:root {
  --blog-quote-border-color: #212631;
  --table-border-color: #dedede;
  --blog-image-credit-fore-color: #fff;
  --blog-image-credit-back-color: rgba(0, 0, 0, .73);
  --blog-image-credit-link-color:  #6DC7FD;
}

.page-container.dark {
  --blog-quote-border-color: #8697c1;
  --table-border-color: #454545;
}

.snippet-card.blog-card {

  .card-title {
    margin: 0;
  }

  .card-meta-info {
    font-size: 0.875rem;
    margin: 0 0rem 1rem;
    color: var(--card-fore-color-light);

    a {

      &, &:link, &:visited {
        color: var(--card-fore-color-light);
      }
    }

    .github-link, .tag-list {
      margin: 0;
    }

    .tag-list {
      color: var(--card-fore-color-light);
    }

  }

  .card-cover-image {
    --cover-aspect-ratio: 1.78;
    @include card-full-width-section;
    margin-top: 0.375rem;
    min-width: calc(100% + 2rem);
    object-fit: cover;
    margin-bottom: 0;
    min-height: calc(260px / var(--cover-aspect-ratio));
    max-height: calc(680px / var(--cover-aspect-ratio));

    @media screen and (min-width: $layout-medium-breakpoint) {
      min-width: calc(100% + 3rem);
      margin-top: 0.375rem;
    }
  }

  ol.blog-list {
    list-style: none;
    counter-reset: list-item-counter;

    li {
      counter-increment: list-item-counter;
      position: relative;

      &:before {
        content: counter(list-item-counter) ". ";
        position: absolute;
        top: 0;
        left: -1.5rem;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: right;
      }
    }

    .blog-list-item {
      margin-bottom: 1.5rem;

      &:before {
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
      }

      > p:first-child:not(:last-child) {
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
      }

      > p:not(:first-child), p:first-child:last-child {
        line-height: 2;
      }
    }
  }

  pre.blog-code {
    border-radius: 0.5rem;
    margin: 1rem 0 0;
  }

  blockquote.blog-quote {
    margin: 1rem 0 0.5rem;
    padding-left: 1.5rem;
    box-shadow: inset 4px 0 0 0 var(--blog-quote-border-color);
    font-style: italic;
    line-height: 2;
    font-size: 1.25rem;
    font-weight: 400;
  }

  h3.blog-body-title {
    font-family: 'Raleway', Helvetica, sans-serif;
    letter-spacing: 0.25px;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 1.5rem 0 0;

    @media screen and (min-width: $layout-medium-breakpoint) {
      font-size: 1.5rem;
    }
  }

  h4.blog-body-title {
    font-family: 'Raleway', Helvetica, sans-serif;
    letter-spacing: 0.25px;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 1.5rem 0 0;

    @media screen and (min-width: $layout-medium-breakpoint) {
      font-size: 1.25rem;
    }
  }

  table.blog-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;

    &.with-primary-column {

      tr > td:first-child {
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        text-align: right;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
      }
    }

    th {
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      font-size: 1.125rem;
    }

    td, th {
      text-align: center;
      border: 1px solid var(--table-border-color);
      padding: 0.5rem;
    }
  }

  p:last-child.blog-image-credit {
    @include card-full-width-section;
    font-size: .875rem;
    padding: 0 1.5rem;
    margin-top: -2.375rem;
    background-color: var(--blog-image-credit-back-color);
    color: var(--blog-image-credit-fore-color);
    order: -1;

    > a {
      &, &:link, &:visited {
        color: var(--blog-image-credit-link-color);
      }
    }

    @media screen and (min-width: $layout-medium-breakpoint) {
      margin-top: -2.375rem;
    }
  }

  .card-description {
    display: flex;
    flex-direction: column;

    li:not(.blog-list-item) > p {
      line-height: 2;
      margin: 0;
    }
  }
}
