// Page title
.page-title {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-variant-numeric: lining-nums;
  font-size: 2rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  line-height: 3rem;
  margin: 0 0.875rem;
  display: inline-block;

  // Add some spacing to static pages
  &:first-child {
    margin-top: 1rem;
  }
}
