// Page title
.page-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: var(--fore-color-darker);
  margin: 0 0.875rem;
  display: inline-block;

  // Add some spacing to static pages
  &:first-child {
    margin-top: 1rem;
  }
}
