code[class*="language-"],
pre[class*="language-"] {
	color: #333;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.6;
	font-size: 1rem;
  font-size: 1.05rem;
	margin-bottom: 1.5rem;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
  -webkit-overflow-scrolling: touch;
  text-shadow: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
}

pre.is-option {
	margin: 0;
	padding: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f2f2f2;
	border-radius: 5px;
  border: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7a8490;
}

.token.attr-name {
	color: #e3840f;
}

.token.punctuation {
	color: #666;
}

.namespace {
	opacity: .7;
}

.token.tag {
	color: #e15555;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #005cc5;
}

.token.selector,
.token.string,
.token.attr-value,
.token.char,
.token.builtin,
.token.inserted {
	color: #007e5d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #d73a49;
  background: none;
}

.token.important,
.token.atrule,
.token.keyword {
	color: #d73a49;
}

.token.function {
	color: #005cc5;
}

.token.regex,
.token.variable {
	color: #703bcf;
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
