.page-title.with-sorter {
  display: inline-block;
  width: calc(100% - 172px - 1.75rem);

  + .sorter {
    display: inline;
    right: 14px;
    top: -12px;

    @media screen and (min-width: $layout-medium-breakpoint) {
      top: -16px;
    }
  }
}

.snippet-list-description {
  margin: 1rem 0.875rem 0.5rem;
  line-height: 2;
}

.snippet-list-controls {
  margin: 0.25rem 0.875rem 1.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: calc(100% - 180px) 180px;
  grid-column-gap: 0.5rem;

  .sorter {
    height: 38px;
  }
}

.snippet-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
