.page-title.with-sorter {
  display: inline-block;
  width: calc(100% - 172px - 1.75rem);

  + .sorter {
    display: inline;
    right: 14px;
    top: -12px;

    @media screen and (min-width: $layout-medium-breakpoint) {
      top: -16px;
    }
  }
}

.snippet-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
