.page-title.with-sorter {
  display: inline-block;
  width: calc(100% - 172px - 1.75rem);

  + .sorter {
    display: inline;
    right: 14px;
    top: -12px;

    @media screen and (min-width: $layout-medium-breakpoint) {
      top: -16px;
    }
  }
}

.snippet-list-header {

  &.with-image {

    .page-title {
      display: block;
      text-align: center;
    }

    @media screen and (min-width: $layout-medium-breakpoint) {
      display: grid;
      grid-template-columns: auto 240px;
      align-items: center;
      min-height: 340px;

      .page-title {
        text-align: left;
      }
    }

    @media screen and (min-width: $layout-large-breakpoint) {
      min-height: 300px;
      grid-template-columns: auto 360px;
    }
  }
}

.snippet-list-description {
  margin: 1rem 0.875rem 0.5rem;
  line-height: 2;
}

.snippet-list-splash-image {
  margin: 0.5rem 0.875rem 0.5rem;
  width: calc(100% - 1.75rem);
  max-height: 25vh;

  @media screen and (min-width: $layout-medium-breakpoint) {
    order: 2;
  }
}

.snippet-list-controls {
  margin: 0.25rem 0.875rem 1.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: calc(100% - 172px) 172px;
  grid-column-gap: 0.5rem;

  @media screen and (min-width: $layout-medium-breakpoint) {
    grid-template-columns: calc(100% - 188px) 188px;
    grid-column-gap: 1rem;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    grid-template-columns: calc(100% - 212px) 212px;
    grid-column-gap: 2.5rem;
  }

  .sorter {
    height: 38px;
  }
}
