.dev-form {
  margin: 0.625rem 0.5rem 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  label {
    display: block;
    line-height: 2;
    margin: 0.5rem 0.25rem 0.25rem;
  }

  select, input {
    padding: 0.5rem 0.5rem;
    border-radius: var(--br-lg);
    margin: 0 0 0.5rem;
  }
}
