// Colors
:root {
  --search-back-color: #FFFFFF;
  --search-button-back-color: #f4f4f5;
  --search-button-hover-back-color: #e9eaec;
  --search-fore-color: #0d0e17;
  --search-bar-button-fore-color: #53586A;
  --search-placeholder-color: #9a9ca7;
  --search-bar-border-color: #e4e6ec;
  --search-focus-border-color: #91abf8;
}

// Dark mode colors
.page-container.dark {
  --search-back-color: #31343f;
  --search-button-back-color: #1f2129;
  --search-button-hover-back-color: #292c38;
  --search-fore-color: #f2f3f7;
  --search-bar-button-fore-color: #c3c6d0;
  --search-placeholder-color: #a0a5ca;
  --search-bar-border-color: #13151b;
  --search-focus-border-color: #344b8d;
}

// Style for placeholder text
@mixin placeholder-styles {
  font-family: 'Inter', Helvetica, sans-serif;
}
.search-box::-webkit-input-placeholder {
  @include placeholder-styles;
}
.search-box:-ms-input-placeholder {
  @include placeholder-styles;
}
.search-box:-moz-placeholder {
  @include placeholder-styles;
}
.search-box::-moz-placeholder {
  @include placeholder-styles;
}

[type="search"].search-box {
  transition: 0.3s ease all;
  margin-top: 6px;
  width: calc(100% - 56px - 56px - 44px);
  background: var(--search-back-color);
  vertical-align: top;
  border: 1px solid var(--search-bar-border-color);
  border-right-color: transparent;
  border-radius: 0.25rem 0 0 0.25rem;
  outline: none;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.9;
  height: 44px;
  color: var(--search-fore-color);

  &::placeholder {
    color: var(--search-placeholder-color);
  }

  &:focus {
    border-color: var(--search-focus-border-color);

    + a.search-btn {
      border-color: var(--search-focus-border-color);
    }
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    width: calc(800px - 4rem - 52px);
  }
}

a.search-btn {
  color: var(--search-button-fore-color);
  background: var(--search-button-back-color);
  border: 1px solid var(--search-bar-border-color);
  border-left: none;
  position: relative;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 6px 0 0;
  border-radius: 0 0.25rem 0.25rem 0;
  box-sizing: border-box;
  box-shadow: none;

  &:hover, &:focus {
    box-shadow: none;
    background: var(--search-button-hover-back-color);
  }

  &:before {
    position: absolute;
    font-size: 24px;
    top: 10px;
    left: 10px;
  }
}
