// Style for placeholder text
@mixin placeholder-styles {
  font-family: 'Inter', Helvetica, sans-serif;
}
.search-box::-webkit-input-placeholder {
  @include placeholder-styles;
}
.search-box::-moz-placeholder {
  @include placeholder-styles;
}

.search-wrapper {
  background: var(--clr-search-bg);
  flex: 0 0 100%;

  @media screen and (min-width: $layout-medium-breakpoint) {
    flex: 1 0 300px;
    margin-bottom: 0;
    max-width: 440px;
  }

  @media screen and (min-width: $layout-large-breakpoint) {
    margin-left: 0.25rem;
  }

  &:not(:focus-within) .search-autocomplete-list {
    display: none;
  }

  &::before {
    box-sizing: border-box;
    padding: 0.75rem 0;
    margin-left: 0.5rem;
    color: inherit;
    transition: 0.3s ease all;
  }

  &:focus-within {
    color: var(--clr-txt-200);

    &::before {
      transform: scale(1.1);
    }
  }
}

[type='search'].search-box {
  width: calc(100% - 36px);
  background: transparent;
  border: 0;
  outline: 0;
  font-size: var(--font-md);
  height: 44px;

  &,
  &::placeholder {
    color: inherit;
  }
}

a.search-btn[aria-hidden='true'] {
  display: none;
}

.search-autocomplete-list {
  position: absolute;
  width: 100%;
  top: 41px;
  list-style: none;
  border-radius: var(--br-none) var(--br-none) var(--br-sm) var(--br-sm);
  overflow: hidden;
  z-index: 100;

  > li {
    height: 42px;
    border-top: 1px solid var(--clr-search-results-border);
    border-bottom: none;

    &:first-child {
      border-top-color: var(--clr-search-bg);
    }

    &:last-child {
      border-radius: var(--br-none) var(--br-none) var(--br-sm) var(--br-sm);
    }

    a {
      height: 42px;
      box-sizing: border-box;
      align-items: baseline;

      .result-title {
        white-space: nowrap;
      }

      .result-tag {
        flex: 1 0 auto;
      }

      &:hover,
      &:focus,
      &.selected {
        .result-title,
        .result-tag {
          color: var(--clr-primary-050);
        }
      }
    }
  }
}
