// Colors
:root {
  --search-back-color: #FFFFFF;
  --search-button-back-color: #f4f4f5;
  --search-button-fore-color: #53586A;
  --search-button-hover-back-color: #e9eaec;
  --search-fore-color: #0d0e17;
  --search-placeholder-color: #9a9ca7;
  --search-bar-border-color: #e4e6ec;
  --search-focus-border-color: #91abf8;
  --search-result-back-color: #FFFFFF;
  --search-result-focus-back-color: #e1e6ff;
}

// Dark mode colors
.dark {
  --search-back-color: #31343f;
  --search-button-back-color: #1f2129;
  --search-button-fore-color: #c3c6d0;
  --search-button-hover-back-color: #252732;
  --search-fore-color: #f2f3f7;
  --search-placeholder-color: #a0a5ca;
  --search-bar-border-color: #13151b;
  --search-focus-border-color: #3052b0;
  --search-result-back-color: #060709;
  --search-result-focus-back-color: #2e5ee0;
}

// Style for placeholder text
@mixin placeholder-styles {
  font-family: 'Inter', Helvetica, sans-serif;
}
.search-box::-webkit-input-placeholder {
  @include placeholder-styles;
}
.search-box:-ms-input-placeholder {
  @include placeholder-styles;
}
.search-box:-moz-placeholder {
  @include placeholder-styles;
}
.search-box::-moz-placeholder {
  @include placeholder-styles;
}

.search-wrapper {
  position: relative;
  display: flex;
  width: calc(100% - 76px - 64px - 44px);

  @media screen and (min-width: $layout-medium-breakpoint) {
    width: 284px;
  }

  &:not(:focus-within) .search-autocomplete-list{
    display: none;
  }
}

[type="search"].search-box {
  transition: 0.3s ease all;
  width: calc(100% - 44px);
  margin: 0 0 0 8px;
  background: var(--search-back-color);
  vertical-align: top;
  border: 1px solid var(--search-bar-border-color);
  border-right-color: transparent;
  border-radius: 0.25rem 0 0 0.25rem;
  outline: none;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.9;
  height: 44px;
  color: var(--search-fore-color);

  &::placeholder {
    color: var(--search-placeholder-color);
  }

  &:focus {
    border-color: var(--search-focus-border-color);

    + a.search-btn {
      border-color: var(--search-focus-border-color);
    }
  }

  @media screen and (min-width: $layout-medium-breakpoint) {
    width: 240px;
    margin: 0;
  }
}

a.search-btn {
  color: var(--search-button-fore-color);
  background: var(--search-button-back-color);
  border: 1px solid var(--search-bar-border-color);
  border-left: none;
  position: relative;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  box-sizing: border-box;
  box-shadow: none;

  &:hover, &:focus {
    box-shadow: none;
    background: var(--search-button-hover-back-color);
  }

  &:before {
    position: absolute;
    font-size: 24px;
    top: 10px;
    left: 10px;
  }
}

.search-autocomplete-list {
  position: absolute;
  width: calc(100% - 28px);
  margin: 0 8px;
  top: 42px;
  list-style: none;
  border-bottom: 1px solid var(--search-focus-border-color);
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
  z-index: 100;

  @media screen and (min-width: $layout-medium-breakpoint) {
    margin: 0;
    width: calc(100% - 20px);
  }

  > li {
    height: 42px;
    margin-left: -20px;
    border: 1px solid var(--search-focus-border-color);
    border-top-color: var(--search-bar-border-color);
    border-bottom: none;
    background: var(--search-result-back-color);

    &:last-child {
      border-radius: 0 0 0.25rem 0.25rem;
    }

    a {
      display: flex;
      padding: 8px 12px;
      height: 42px;
      box-sizing: border-box;

      &:hover, &:focus, &.selected {
        text-decoration: none;
        background: var(--search-result-focus-back-color);
      }

      .result-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 8px;
        color: var(--fore-color);
      }

      .result-tag {
        flex: 1 0 auto;
        font-size: 0.75rem;
        line-height: 2.125;
        color: var(--fore-color-light);
      }
    }
  }
}
