.preview-card-wrapper {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.preview-card {
  margin-top: 1.5625rem;
  overflow: hidden;

  .card-title {
    a {
      &, &:link, &:visited {
        line-height: 1;
        color: var(--card-fore-color);
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
